@use "./config.scss" as config;

.footer {
  background: var(--footer-background);
  padding: 40px 0px;

  &__container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr 1fr;
  }
  &__copyright {
    color: var(--footer-copyright-color);
  }
  &__payment {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  &__payment-item {
    max-height: 17px;
  }
  &__scroll-up {
    justify-self: flex-end;
  }
  @media (min-width: config.$mbpT) {
    &__copyright {
      font-size: 14px;
    }
  }
  @media (max-width: config.$mbpT) {
    padding: 35px 0px;
  }
  @media (max-width: config.$mbpM) {
    padding: 30px 0px;
    
    &__container {
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
    &__copyright {
      grid-column: 1 / 1;
      grid-row: 2 / 2;
    }
    &__payment {
      grid-column: 1 / -1;
      grid-row: 1 / 1;
    }
    &__scroll-up {
      grid-column: 2 / 2;
      grid-row: 2 / 2;
    }
  }
}
.scroll-up {
  --size: 28px;
  --icon-size: 12px;

  display: flex;
  align-items: center;
  gap: 15px;

  &__text {
    display: block;
    color: var(--footer-scroll-top-text-color);
    text-wrap: nowrap;
  }
  &__icon {
    flex: 0 0 var(--size);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--footer-scroll-top-background-color);
    color: var(--footer-scroll-top-icon-color);
    font-size: var(--icon-size);
    padding-bottom: calc(0.07 * var(--size));

    span {
      display: block;
      transform-origin: center;
      transform: rotateZ(180deg);
    }
  }
  @media (max-width: config.$mbpT) {
    gap: 10px;
  }
}