@use "./config.scss" as config;
@use "./mixins.scss" as mixins;

:root {
	display: flex;
	flex-direction: column;
	font-family: "Inter Tight";
	min-height: 100%;

	// Basic
	--white: #ffffff;
	--black: #000000;

	--dark-100: #160E0E;
	--dark-200: #515050;
	--dark-300: #4B4F4B;
	--dark-500: #919191;
	--dark-600: #B0B0B0;
	--dark-700: #C8D4D8;

	--header-height: 100px;
	--footer-height: 100px;
	--container-width: 1580px;
	--container-padding: 30px;

	// Shared
	--separator-color: #CACACA33;
	--light-background-color: #FFFFFF;
	
	--brand-primary-color: #19a9dd;
	--light-border-color: #EEEEEE;

	--primary-color: #285335;
	--hover-primary-color: #37804D;

	// Texts
	--text-primary-color: var(--primary-color);

	// Theme switch
	--theme-switch-icons-color: #E2EDEF;
	--theme-switch-body-color: #E2EDEF;
	--theme-switch-thumb-color: var(--primary-color);
	--theme-switch-hover-thumb-color: var(--hover-primary-color);

	// Docked theme switch
	--docked-theme-switch-icons-color: white;
	--docked-theme-switch-body-color: white;
	--docked-theme-switch-thumb-color: var(--primary-color);
	--docked-theme-switch-hover-thumb-color: var(--hover-primary-color);

	--status-success: #75C132;
	--status-warning: #F0AD3E;
	--status-danger: #F03E3E;

	// Home page
	--home-background-gradient: linear-gradient(180deg, #E2ECEF, #DFF6F2), #CBD7DB; 
	--background: linear-gradient(180deg, #E2ECEF, #C3F0CF), #E2ECEF;

	// Palette
	--palette-gradient: linear-gradient(to right bottom, #FFFFFF2C, #FFFFFF);
	--palette-active-gradient: linear-gradient(to right bottom, #FFFFFF2C 0%, #EDF9F247 47%, #D8F2E3 100%);
	--palette-outline: #FFFFFF;
	--dimmed-palette-outline: #EFEFEF;

	// Header
	--header-top-color: #D2DEE1;
	--header-main-background: white;
	--header-text-color: black;
	--header-hover-text-color: var(--primary-color);
	--header-separator-color: #CACACA33;
	--header-social-color: var(--primary-color);
	--header-social-hover-color: var(--hover-primary-color);

	// Login
	--login-btn-color: black;
	--login-btn-icon-color: var(--primary-color);
	--login-btn-border-color: var(--primary-color);
	--login-btn-hover-color: black;
	--login-btn-hover-icon-color: var(--hover-primary-color);
	--login-btn-hover-border-color: var(--hover-primary-color);

	// Separators
	--horizontal-row-color: #cbd7db80;
	
	// Table 
	--table-hover-gradient: var(--white);
	--table-header-column-color: var(--dark-600);

	// Portal
	--portal-menu-color: var(--primary-color);
	--portal-menu-dropdown-background-color: #FFFFFF;
	--portal-menu-dropdown-border-color: #EEEEEE;
	--portal-menu-group-arrow-color: currentColor;
	--portal-menu-item-border-color: #EFEFEF;
	--portal-menu-item-hover-background: linear-gradient(182deg, rgba(255, 255, 255, 0.44) 36.43%, #D8F2E3 87.54%);

	// Burger
	--burger-btn-color: var(--primary-color);
	--burger-btn-hover-color: var(--hover-primary-color);

	// Cabinet
	--cabinet-dropdown-background: white;
	--cabinet-menu-item-color: var(--primary-color);
	--cabinet-menu-item-border-color: #EFEFEF;
	--cabinet-menu-item-hover-color: white;
	--cabinet-menu-item-background: transparent;
	--cabinet-menu-item-hover-background: linear-gradient(182deg, rgba(255, 255, 255, 0.44) 36.43%, #D8F2E3 87.54%);

	// Account Menu
	--account-menu-color: var(--primary-color);
	
	// Section
	--section-title-color: var(--white);

	// Rating 
	--rating-title-icon-color: var(--status-warning);
	--rating-second-column-text-color: var(--dark-200);
	--rating-third-column-text-color: var(--primary-color);

	// Statistics
	--statistics-description-color: var(--dark-300);

	// Greeting
	--greeting-date-color: var(--dark-300);
	--greeting-button-background: var(--white);
	--greeting-button-text: var(--primary-color);

	// More
	--more-link-icon-color: var(--status-warning);

	// Status line
	--status-line-background: var(--palette-gradient);
	--status-line-active-background: var(--white);
	--status-line-palette-opacity: 0.88;

	// Last tasks
	--last-tasks-pretitle-color: var(--primary-color);
	--last-tasks-title-color: var(--dark-200);
	--last-tasks-subtitle-color: var(--dark-500);
	--last-tasks-amount-color: var(--status-warning);
	--last-tasks-reference-background: var(--primary-color);
	--last-tasks-reference-color: var(--white); 

	// Menu info
	--menu-info-avatar-border-color: var(--dark-700);
	--menu-info-avatar-background: var(--primary-color);
	--menu-info-avatar-icon-color: var(--white);
	--menu-info-lessons-icon-color: var(--primary-color);
	--menu-info-lessons-text-color: var(--dark-100);
	--menu-info-name-color: var(--dark-300);

	// Rate
	--rate-palette-background: var(--palette-gradient);
	--rate-text-primary-color: var(--dark-300);
	--rate-text-secondary-color: var(--dark-300);

	// Total statistics
	--total-statistics-description: var(--dark-300);

	// Last payments
	--last-payments-table-comment-color: var(--dark-600);

	// My referrals
	--my-referral-table-comment-color: #FFFFFF80;

	// Range
	--range-value-color: var(--primary-color);
	--range-track-background: #E2EDEF;
	--range-track-fill-background: var(--primary-color);
	--range-thumb-background: var(--hover-primary-color);
	--range-thumb-tip-color: var(--dark-500);
	--range-caption-color: var(--dark-200);

	// Discount constructor
	--discount-constructor-block-background: var(--palette-gradient);
	--discount-constructor-block-opacity: 0.88;
	--discount-constructor-reference-title-color: var(--dark-300);
	--discount-constructor-input-color: var(--hover-primary-color);
	--discount-constructor-input-placeholder-color: var(--dark-300);

	// Footer
	--footer-background: var(--primary-color);
	--footer-copyright-color: var(--white);
	--footer-payment-text-color: var(--white);
	--footer-scroll-top-text-color: var(--white);
	--footer-scroll-top-background-color: #C8D4D8;
	--footer-scroll-top-icon-color: var(--primary-color);

	// Study module
	--study-module-background: var(--white);
	--study-module-amount-background: linear-gradient(to top, #59B9762F, #59B97600), #E2ECEF;
	--study-module-amount-color: var(--primary-color);
	--study-module-toggler-color: var(--primary-color);
	--study-module-separator: #CBD7DB80;

	// Study module lesson
	--study-module-lesson-border-width: 2px;
	--study-module-lesson-check-background: var(--primary-color);
	--study-module-lesson-check-color: var(--white);
	--study-module-lesson-done-background: #D5EDE3E1;
	--study-module-lesson-done-border-color: var(--primary-color);
	--study-module-lesson-done-number-background: var(--white);
	--study-module-lesson-done-number-color: var(--primary-color);
	--study-module-lesson-done-title-color: var(--primary-color);
	--study-module-lesson-done-status-color: var(--black);
	--study-module-lesson-in-process-background: var(--white);
	--study-module-lesson-in-process-border-color: var(--primary-color);
	--study-module-lesson-in-process-number-background: linear-gradient(to top, #59B9762F, #59B97600), #E2ECEF;
	--study-module-lesson-in-process-number-color: var(--primary-color);
	--study-module-lesson-in-process-title-color: var(--primary-color);
	--study-module-lesson-in-process-status-color: var(--status-warning);
	--study-module-lesson-locked-background: #F2F2F2;
	--study-module-lesson-locked-border-color: var(--primary-color);
	--study-module-lesson-locked-number-background: linear-gradient(to top, #59B9762F, #59B97600), #E2ECEF;
	--study-module-lesson-locked-number-color: var(--primary-color);
	--study-module-lesson-locked-title-color: var(--primary-color);
	--study-module-lesson-locked-status-color: var(--black);

	// Courses
	--course-card-badge-background: #396346;
	--course-card-badge-color: var(--white);
	--course-card-image-fallback: #BEBEBE;
	
	--course-card-done-border-color: var(--primary-color);
	--course-card-done-border-width: 2px;
	--course-card-done-background: #D5EDE3;
	--course-card-done-title-color: var(--primary-color);
	--course-card-done-text-color: var(--dark-200);

	--course-card-border-color: var(--white);
	--course-card-border-width: 1px;
	--course-card-background: #FFFFFFAA;
	--course-card-title-color: var(--primary-color);
	--course-card-text-color: var(--dark-200);

	--course-card-locked-border-color: var(--white);
	--course-card-locked-border-width: 1px;
	--course-card-locked-background: #F2F2F2;
	--course-card-locked-title-color: var(--primary-color);
	--course-card-locked-text-color: var(--dark-200);

	// Study daily progress
	--study-daily-progress-benefit-color: var(--primary-color);
	--study-daily-progress-last-benefit-color: var(--dark-500);
	--study-daily-progress-step-color: var(--dark-500);
	--study-daily-progress-track-background: #EEF4F6;
	--study-daily-progress-track-fill-background: var(--primary-color);
	--study-daily-progress-track-tick-color: var(--white);
	--study-daily-progress-hint-left-color: var(--dark-200);
	--study-daily-progress-hint-right-color: var(--primary-color);
}
html[data-theme="dark"] {
	--primary-color: #3150FF;
	--hover-primary-color: #3150ffda;

	--header-main-background: linear-gradient(152.86deg, rgba(81, 81, 81, 0.396) 25.99%, rgba(29, 29, 29, 0.9) 100.03%);

	// Texts
	--text-primary-color: var(--white);
	
	// Theme switch
	--theme-switch-icons-color: #E2EDEF;
	--theme-switch-body-color: #E2EDEF;
	--theme-switch-thumb-color: var(--primary-color);
	--theme-switch-hover-thumb-color: var(--hover-primary-color);

	// Docked theme switch
	--docked-theme-switch-icons-color: #E2EDEF;
	--docked-theme-switch-body-color: #4C4C4C;
	--docked-theme-switch-thumb-color: var(--primary-color);
	--docked-theme-switch-hover-thumb-color: var(--hover-primary-color);

	// Home page
	--home-background-gradient: linear-gradient(180deg, #E2ECEF, #DFF6F2), #CBD7DB; 
	--background: #030303;

	// Palette
	--palette-gradient: linear-gradient(to bottom, #5151512C, #1D1D1D);
	--palette-active-gradient: linear-gradient(to left top, #86868630, #3F3F3FA6);
	--palette-outline: #3d3d3d;
	--dimmed-palette-outline: #EFEFEF;

	// Header
	--header-top-color: #414141;
	--header-text-color: white;
	--header-separator-color: #FFFFFF22;
	--header-social-color: #FFFFFF;
	--header-social-hover-color: var(--primary-color);

	// Separators
	--horizontal-row-color: #FFFFFF22;
	
	// Table 
	--table-hover-gradient: linear-gradient(to top, #D9EBDF3A, #D0E7D72B);
	--table-header-column-color: #FFFFFF80;

	// Portal
	--portal-menu-color: white;
	--portal-menu-dropdown-background-color: #323232;
	--portal-menu-item-background: linear-gradient(152.86deg, rgba(134, 134, 134, 0.286) 25.99%, rgba(63, 63, 63, 0.65) 100.03%);
	--portal-menu-item-hover-background: #FFFFFF4D;
	--portal-menu-dropdown-border-color: #EEEEEE;
	--portal-menu-group-arrow-color: var(--primary-color);
	--portal-menu-item-border-color: #7D7D7D;

	// Login
	--login-btn-color: white;
	--login-btn-hover-color: white;

	// Burger
	--burger-btn-color: white;
	--burger-btn-hover-color: var(--hover-primary-color);

	// Cabinet
	--cabinet-dropdown-background: linear-gradient(152.86deg, rgba(81, 81, 81, 0.308) 25.99%, rgba(29, 29, 29, 0.7) 100.03%);
	--cabinet-menu-item-color: white;
	--cabinet-menu-item-border-color: #7D7D7D;
	--cabinet-menu-item-hover-color: white;
	--cabinet-menu-item-background: linear-gradient(152.86deg, rgba(134, 134, 134, 0.286) 25.99%, rgba(63, 63, 63, 0.65) 100.03%);
	--cabinet-menu-item-hover-background: linear-gradient(84.38deg, #2F2F2F -4.21%, #7D7D7D 99.93%);

	// Account Menu
	--account-menu-color: var(--white);

	// Section
	--section-title-color: var(--white);

	// Rating
	--rating-title-icon-color: var(--white);
	--rating-second-column-text-color: var(--white);
	--rating-third-column-text-color: #A7B4FF;

	// Statistics
	--statistics-description-color: #FFFFFF80;
	
	// Greeting
	--greeting-date-color: #FFFFFF80;
	--greeting-button-background: linear-gradient(to right bottom, #0026FF, #001799);
	--greeting-button-text: var(--white);

	// More
	--more-link-icon-color: var(--primary-color);
	
	// Status line
	--status-line-background: linear-gradient(to right bottom, #8686862C, #3F3F3F);
	--status-line-active-background: #FFFFFF40;
	--status-line-palette-opacity: 0.65;

	// Last tasks
	--last-tasks-pretitle-color: #A7B4FF;
	--last-tasks-title-color: var(--white);
	--last-tasks-subtitle-color: #FFFFFF80;
	--last-tasks-amount-color: #A7B4FF;
	--last-tasks-reference-background: linear-gradient(to right bottom, #0026FF, #001799);
	--last-tasks-reference-color: var(--white);

	// Menu info
	--menu-info-avatar-border-color: var(--primary-color);
	--menu-info-avatar-background: var(--primary-color);
	--menu-info-avatar-icon-color: var(--white);
	--menu-info-lessons-icon-color: var(--white);
	--menu-info-lessons-text-color: #FFFFFF80;
	--menu-info-name-color: var(--white);

	// Rate
	--rate-palette-background: linear-gradient(to right bottom, #8686862C, #3F3F3F);
	--rate-text-primary-color: var(--white);
	--rate-text-secondary-color: var(--white);
	
	// Total statistics
	--total-statistics-description: #FFFFFF80;

	// Range
	--range-value-color: var(--text-primary-color);
	--range-track-background: #3A3A3A;
	--range-track-fill-background: var(--primary-color);
	--range-thumb-background: linear-gradient(to right bottom, #0026FF, #001799);
	--range-thumb-tip-color: var(--dark-500);
	--range-caption-color: var(--dark-200);

	// Discount constructor
	--discount-constructor-block-background: linear-gradient(to right bottom, #8686862C, #3F3F3F);
	--discount-constructor-block-opacity: 0.65;
	--discount-constructor-reference-title-color: var(--white);
	--discount-constructor-input-color: var(--white);
	--discount-constructor-input-placeholder-color: var(--dark-300);

	// Footer
	--footer-background: linear-gradient(to right, #011EC580, #110C6080);
	--footer-copyright-color: #9FA8B0;
	--footer-payment-text-color: var(--white);
	--footer-scroll-top-text-color: #9FA8B0;
	--footer-scroll-top-background-color: #0B1B75;
	--footer-scroll-top-icon-color: var(--white); 

	// Study module
	--study-module-background: linear-gradient(to right bottom, #5151514E, #1D1D1D46);
	--study-module-amount-background: var(--primary-color);
	--study-module-amount-color: var(--white);
	--study-module-toggler-color: var(--white);
	--study-module-separator: #FFFFFF0A;

	// Study module lesson
	--study-module-lesson-border-width: 0.5px;
	--study-module-lesson-check-background: var(--primary-color);
	--study-module-lesson-check-color: var(--white);
	--study-module-lesson-done-background: linear-gradient(to top, #95959530, #DADADA20);
	--study-module-lesson-done-border-color: #545454;
	--study-module-lesson-done-number-background: #686868;
	--study-module-lesson-done-number-color: var(--white);
	--study-module-lesson-done-title-color: var(--white);
	--study-module-lesson-done-status-color: #FFFFFF80;
	--study-module-lesson-in-process-background: linear-gradient(to left top, #86868630, #3F3F3FA6);
	--study-module-lesson-in-process-border-color: #545454;
	--study-module-lesson-in-process-number-background: #686868;
	--study-module-lesson-in-process-number-color: var(--white);
	--study-module-lesson-in-process-title-color: var(--white);
	--study-module-lesson-in-process-status-color: var(--status-warning);
	--study-module-lesson-locked-background: linear-gradient(to right bottom, #8686861C, #3F3F3FA6);
	--study-module-lesson-locked-border-color: #545454;
	--study-module-lesson-locked-number-background: #686868;
	--study-module-lesson-locked-number-color: var(--white);
	--study-module-lesson-locked-title-color: var(--white);
	--study-module-lesson-locked-status-color: #FFFFFF80;

	// Courses
	--course-card-badge-background: var(--primary-color);
	--course-card-badge-color: var(--white);
	--course-card-image-fallback: var(--dark-300);
	
	--course-card-done-border-color: #757575;
	--course-card-done-border-width: 1px;
	--course-card-done-background: linear-gradient(to right bottom, #51515140, #1D1D1DAA);
	--course-card-done-title-color: var(--white);
	--course-card-done-text-color: #FFFFFF80;

	--course-card-border-color: #757575;
	--course-card-border-width: 1px;
	--course-card-background: linear-gradient(to right bottom, #51515140, #1D1D1DAA);
	--course-card-title-color: var(--white);
	--course-card-text-color: var(--white);

	--course-card-locked-border-color: #757575;
	--course-card-locked-border-width: 1px;
	--course-card-locked-background: #3A3A3ABB;
	--course-card-locked-title-color: var(--white);
	--course-card-locked-text-color: #FFFFFF80;

	// Study daily progress
	--study-daily-progress-benefit-color: #A7B4FF;
	--study-daily-progress-last-benefit-color: var(--white);
	--study-daily-progress-step-color: #FFFFFF80;
	--study-daily-progress-track-background: #3A3A3A;
	--study-daily-progress-track-fill-background: linear-gradient(to right, #0026FF, #001799);
	--study-daily-progress-track-tick-color: var(--white);
	--study-daily-progress-hint-left-color: var(--white);
	--study-daily-progress-hint-right-color: var(--white);
}
@media (max-width: config.$mbpT) {
	:root {
		--header-height: 80px;
		--footer-height: 90px;
	}
}
@media (max-width: config.$mbpMM) {
	:root {
		--header-height: 95px;
		--footer-height: 120px;
		--container-padding: 15px;
	}
}

body {
	background: var(--background);
}
.logo {
	display: inline-block;
	position: relative;
	left: 0;
	top: 0;
	font-size: 0;
	&_header {
		width: 176px;
		@media (max-width: config.$mbpT) {
			width: 140px;
		}
		@media (max-width: config.$mbpM) {
			width: 120px;
		}
	}
	// &_invert {
	// 	filter: invert(1);
	// }
	&__img {
		width: 100%;
		height: 100%;
	}
}
.ratio-wrap {
	display: flex;
	// &_lazy:not(._loaded) &__inner::after {
	// 	@include spinner;
	// }
	&::before {
		content: "";
		display: inline-block;
		padding-top: var(--height-ratio, 50%);
	}
	& img, & video, & &__item {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	&_cut img, &_cut video, &_cut &__item {
		left: -1%;
		top: -1%;
		width: 102%;
		height: 102%;
	}
	&_contain img, &_contain video, &_contain &__item {
		object-fit: contain;
	}
	&_cover img, &_cover video, &_cover &__item {
		object-fit: cover;
	}
}
.drawers {
	position: relative;
	z-index: 10000;
}
.drawer {
	position: fixed;
	left: 0;
	top: 0;
	width: calc(100% - var(--scroll-compensation));
	height: 100%;
	z-index: var(--z-index, 1);
	&_dialog {
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s, visibility 0.3s;
		background-color: var(--dark-903);
	}
	&_dialog#{&}_open {
		opacity: 1;
		visibility: visible;
		transform: translateY(0px);
	}
	&_dialog &__panel {
		background-color: var(--light-900);
		border-radius: 8px;
		overflow: hidden;
		max-width: 500px;
		width: 100%;
		transform: translateY(10px);
		transition: transform 0.3s;
	}
	&_dialog#{&}_open &__panel {
		transform: translateY(0px);
	}
	&_dialog &__header {
		display: grid;
		grid-template-columns: 1fr auto;
		align-items: center;
		color: var(--light-900);
		font-weight: 600;
		padding: 12px 12px 12px 20px;
		background-color: var(--dark-900);
	}
	&_dialog &__body {
		font-size: 18px;
		line-height: 1.4;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 30px;
		background-color: var(--light-900);
	}
	&:not(.drawer_open) {
		pointer-events: none;
	}
	&:not(#{&}_modal) {
		pointer-events: none;
	}
}

// UI KIT
.container {
	width: 100%;
	max-width: var(--container-width);
	padding: 0px var(--container-padding);
	margin: 0 auto;
}

.account-layout {
	display: flex;
	gap: 32px;
	padding: 40px 0px 80px 0px; 

	&-column,
	&-column-slice {
		display: flex;
		flex-direction: column;
		gap: 32px;
	}

	&-sidebar {
		flex: 0 0 350px;
	}
	&-center {
		flex: 1 1 auto;
	}
	@media (max-width: config.$mbpT) {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, auto);

		&-column {
			display: contents;
		}

		&-sidebar {
			width: 100%;

			&__top {
				grid-row: 2 / 2;
				grid-column: 1 / 1;
			}
			&__bottom {
				grid-row: 4 / 4;
				grid-column: 1 / 1;
			}
		}
		&-center {
			width: 100%;

			&__top {
				grid-row: 1 / 1;
				grid-column: 1 / 1;
			}
			&__bottom {
				grid-row: 3 / 3;
				grid-column: 1 / 1;
			}
		}
	}
	@media (max-width: config.$mbpMM) {
		gap: 16px;

		&-column,
		&-column-slice {
			gap: 16px;
		}

		&-sidebar {
			&__top {
				display: none;
			}
		}
	}
}

@mixin button_block {
	display: block;
	width: 100%;
	flex: 0 0 100%;
}
.button {
	color: var(--color, currentColor);
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 20px 40px;
	border-radius: 5px;
	transition: border-color 0.3s, color 0.3s;
	@media (any-hover: hover) {
		&:hover {
			color: var(--hover-color, var(--color));
			border-color: var(--hover-border-color, var(--border-color, transparent));
		}
		&:hover &__icon {
			color: var(--hover-icon-color);
		}
	}
	&_filled {
		background-color: var(--primary-color);
		border: 1px solid var(--primary-color);
	}
	&_outlined {
		border: 1px solid var(--primary-color);
	}
	&_white {
		background-color: var(--white);
	}
	&_centered {
		justify-content: center;
	}
	&_big {
		padding: 28px 60px;
		border-radius: 8px;
		font-size: 22px;
		border-width: 2px;
	}
	&_small {
		gap: 6px;
		border-radius: 8px;
		padding: 14px 25px;
	}
	&_rounded {
		border-radius: 100px;
	}
	&_block {
		@include button_block;
	}
	&__icon {
		color: var(--icon-color);
		font-size: 1.1em;
		transition: color 0.3s;
	}
	&:disabled {
		opacity: 0.5;
	}
	@media (max-width: config.$mbpT) {
		&_big {
			padding: 22px 40px;
		}
		&_small {
			padding: 10px 14px;
		}
	}
	@media (max-width: config.$mbpMM) {
		& {
			padding: 10px 24px;
		}
		&_big {
			padding: 18px 40px;
		}
		&_small {
			padding: 7px 14px;
		}
	}
}
.button__text {
	display: block;
	font-family: 'Inter Tight', sans-serif;
	font-weight: 600;
	font-size: 18px;
	line-height: 1.2;
	color: var(--text-primary-color);

	.button_big & {
		font-size: 22px;
	}
	.button_filled & {
		color: var(--white);
	}
	&.button__text_black {
		color: var(--dark-100);
	}
	.dark-theme & {
		color: var(--white);
	}
	&_uppercase {
		text-transform: uppercase;
	}
	@media (max-width: config.$mbpT) {
		& {
			font-size: 16px;
		}
		.button_big & {
			font-size: 18px;
		}
	}
	@media (max-width: config.$mbpMM) {
		& {
			font-size: 14px;
		}
	}
}

@media (min-width: mixins.px(config.$mbpTNu + 1)) {
	.hide-desktop {
		display: none !important;
	}
}
@media (max-width: config.$mbpT) and (min-width: config.$mbpM) {
	.hide-tablet {
		display: none !important;
	}
}
@media (max-width: mixins.px(config.$mbpMNu - 1)) {
	.hide-mobile {
		display: none !important;
	}
}

.palette {
	--opacity: 0.77;
	--active-opacity: 0.9;
	--border-color: var(--palette-outline);
	--background: var(--palette-gradient);
	--active-background: var(--palette-active-gradient);

	overflow: hidden;
	position: relative;
	border-radius: 15px;
	border: 1px solid var(--border-color);

	&::before,
	&::after {
		content: '';
	
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	
		transition: opacity 0.3s;
	}
	&::before {
		background: var(--background);
		opacity: var(--opacity, 0.77);
		z-index: -2;
	}
	&::after {
		background: var(--active-background);
		opacity: 0;
		z-index: -1;
	}

	&_hoverable {
		cursor: pointer;
		
		@media (any-hover: hover) {
			&:hover {
				&::before {
					opacity: 0;
				}
				&::after {
					opacity: var(--active-opacity);
				}
			}
		}
	}

	&_active {
		&::before {
			opacity: 0;
		}
		&::after {
			opacity: var(--active-opacity);
		}
	}

	&_hide-desktop {
		@media (min-width: mixins.px(config.$mbpTNu + 1)) {
			border: none;
			position: static;
			overflow: auto;
			border-radius: 0px;
			&::before,
			&::after {
				display: none;
				position: static;
				z-index: auto;
				left: auto;
				top: auto;
				background: transparent;
				opacity: 1;
			}
		}
	}
	&_hide-tablet {
		@media (max-width: config.$mbpT) and (min-width: config.$mbpMM) {
			border: none;
			position: static;
			overflow: auto;
			border-radius: 0px;
			&::before,
			&::after {
				display: none;
				position: static;
				z-index: auto;
				left: auto;
				top: auto;
				background: transparent;
				opacity: 1;
			}
		}
	}
	&_hide-mobile {
		@media (max-width: mixins.px(config.$mbpMMNu - 1)) {
			border: none;
			position: static;
			overflow: auto;
			border-radius: 0px;
			&::before,
			&::after {
				display: none;
				position: static;
				z-index: auto;
				left: auto;
				top: auto;
				background: transparent;
				opacity: 1;
			}
		}
	}
}

.status-line {
	// for palette
	--background: var(--status-line-background);
	--active-background: var(--status-line-active-background);
	--opacity: var(--status-line-palette-opacity);

	display: flex;
	align-items: center;
	padding: 22px 14px;

	&-indicator {
		align-self: stretch;
		min-height: 35px;
		width: 3px;
		flex: 0 0 3px;
		border-radius: 2px;

		&_green {
			background-color: var(--status-success);
		}
		&_orange {
			background-color: var(--status-warning);
		}
		&_red {
			background-color: var(--status-danger);
		}
	}
	@media (max-width: config.$mbpMM) {
		padding: 10px;
	
		&-indicator {
			min-height: 20px;
		}
	}
}

.account-block {
	// for palette
	--opacity: 0.88;

	padding: 30px;

	&__title {
		color: var(--text-primary-color);
		margin-bottom: 30px;

		display: flex;
		align-items: center;
		gap: 10px;
	}
	&_compressed &__title {
		margin-bottom: 20px;
	}
	&__horizontal-row {
		border: 0.3px solid var(--horizontal-row-color);
		margin-bottom: 30px;
	}
	&__tabs {
		margin-bottom: 30px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 20px;
	}
	&_compressed &__tabs {
		margin-bottom: 20px;
	}
	&__tab {
		color: var(--dark-600);
		
		&_active {
			color: var(--text-primary-color);
			font-weight: 600;
		}
	}
	@media (max-width: config.$mbpT) {
		&_compressed &__title {
			margin-bottom: 30px;
		}
	}
	@media (max-width: config.$mbpMM) {
		padding: 16px;

		&__title {
			margin-bottom: 20px;
		}
		&_compressed &__title {
			margin-bottom: 16px;
		}
		&__horizontal-row {
			border: 0.3px solid var(--horizontal-row-color);
			margin-bottom: 16px;
		}
		&__tabs {
			margin-bottom: 16px;
		}
	}
}

.account-more {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;

	&__icon {
		color: var(--more-link-icon-color);
		font-size: 8px;
	}
}

.account-table {
	border-top: 1px solid var(--horizontal-row-color);
	display: block;

	&-head {
		width: 100%;
		display: grid;
		grid-template-columns: var(--columns);
		align-items: center;
		padding: 20px 0px;
		gap: 10px;

		tr {
			display: contents;
		}

		&__column {
			font-family: 'Inter Tight', sans-serif;
			color: var(--table-header-column-color);
			font-size: 14px;
		}
	}
	&-body {
		display: flex;
		flex-direction: column;
		gap: 5px;

		&__item {
			width: 100%;
			display: grid;
			grid-template-columns: var(--columns);
			align-items: center;
			gap: 10px;
			
			&_plain {
				padding: 20px 0px;
				border-radius: 12px;
				border: 1px solid transparent;
			}
			&_hoverable {
				@media (hover: hover) {
					transition: background-color 0.3s;

					&:hover {
						background: var(--table-hover-gradient);
					}
				}
			}
			&_clickable {
				cursor: pointer;
			}
		}
		&__column {
			height: 100%;
			display: flex;
			align-items: center;
			gap: 15px;
		}
	}

	&_status &-head {
		padding-left: 40px;
		padding-right: 14px;
	}
	&_status &-body__item {
		padding-left: 24px;
	}
	@media (max-width: config.$mbpT) {
		&_status &-head__column:first-child {
			margin-left: -40px;
		}
	}
	@media (max-width: config.$mbpMM) {
		&-body {
			&__item {
				&_plain {
					padding: 10px 0px;
				}
				&_hoverable {
					background: var(--table-hover-gradient);
				}
			}
		}
		&_status &-head {
			padding-left: 26px;
			padding-right: 10px;
		}
		&_status &-head__column:first-child {
			margin-left: -26px;
		}
		&_status &-body__item {
			padding-left: 10px;
		}
		&_compressed &-head {
			padding-top: 12px;
			padding-bottom: 12px;
		}
	}
}

// Blocks and Pages
.home-hero {
	width: 100%;
	height: calc(100dvh - var(--header-height) - var(--footer-height));
	overflow: hidden;
	background: linear-gradient(180deg, #E2ECEF, #DFF6F2), #CBD7DB;
	& .container {
		padding-top: 200px;
		position: relative;
	}
	&-image {
		width: 985px;
		max-width: 65%;
		position: absolute;
		top: 10px;
		right: 0px;
	}
	&-image img {
		max-width: 100%;
	}
	&-content {
		position: relative;
		z-index: 1;
	}
	&-content__title {
		margin-bottom: 5px;
		color: var(--primary-color);
	}
	&-content__title span {
		display: block;
		line-height: 1.15;
	}
	&-content__description {
		margin-bottom: 40px;
		max-width: 670px;
		color: var(--dark-300);
	}
	&-content__buttons {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 40px;
	}
	@media (max-width: config.$mbpPC) {
		&-image {
			max-width: 55%;
		}
	}
	@media (max-width: config.$mbpT) {
		& .container {
			padding-top: 80px;
			display: flex;
			flex-direction: column;
			gap: 70px;
		}
		&-image {
			width: 100%;
			max-width: 100%;
			padding-right: 10%;
			display: flex;
			justify-content: center;
			position: relative;
			overflow: hidden;
		}
		&-image img {
			width: 610px;
		}
		&-content__description {
			color: var(--primary-color);
			max-width: 530px;
		}
		&-content__buttons {
			gap: 20px;
		}
		&-content__buttons .button__text_black {
			color: var(--primary-color);
		}
	}
	@media (max-width: config.$mbpMM) {
		& .container {
			padding-top: 40px;
			gap: 40px;
		}
		&-image {
			padding-right: 15%;
		}
		&-image img {
			min-width: 130%;
			max-width: 150%;
		}
		&-content__title {
			margin-top: 0px;
		}
		&-content__description {
			margin-bottom: 20px;
		}
		&-content__buttons {
			flex-direction: column;
			gap: 10px;
		}
		&-content__buttons .button {
			@include button_block;
		}
	}
}

.account-menu {
	max-width: 350px;
	display: flex;
	flex-direction: column;
	gap: 5px;

	&_as-drop-down {
		@media (max-width: config.$mbpM) {
			display: grid;
			grid-template-columns: 1fr 1fr;
		}
	}

	&_horizontal {
		width: 100%;
		max-width: none;
		flex-direction: row;
		flex-wrap: wrap;
	}
	@media (max-width: config.$mbpT) {
		max-width: 100%;
		flex-direction: row;
		flex-wrap: wrap;
	}
}

.account-menu-info {
	// for palette
	--opacity: 0.88;
	
	width: 100%;

	display: flex;
	align-items: center;
	gap: 20px;

	padding: 15px 20px;

	.account-menu_horizontal & {
		max-width: 300px;
		padding: 10px 16px;
	}
	
	&-info__content {
		display: flex;
		flex-direction: column;
		gap: 2px;
	}
	&-lessons {
		display: flex;
		align-items: center;
		gap: 5px;
		color: var(--menu-info-lessons-text-color);
	}
	&-lessons-icon {
		font-size: 12px;
		color: var(--menu-info-lessons-icon-color);
	}
	&-lessons-icon span {
		display: block;
	}
	&-lessons__amount {
		color: var(--menu-info-lessons-text-color);
	}
	&__name {
		color: var(--menu-info-name-color);
	}
	@media (max-width: config.$mbpT) {
		flex: 0 1 calc((100% - 10px) / 3);
		padding: 15px 10px;
		gap: 10px;

		&-avatar {
			flex: 0 0 40px;
			width: 40px;
		}
		&-avatar__circle {
			padding-top: 2px;
			flex: 0 0 32px;
			font-size: 14px;
		}
	}
	@media (max-width: 700px) {
		flex: 1 1 auto;
	}
}

.account-menu-info-avatar {
	--size: 70px;
	position: relative;
	
	flex-basis: var(--size);
	width: var(--size);
	height: var(--size);
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	border: 1px solid var(--menu-info-avatar-border-color);
	border-radius: 50%;

	.account-menu_horizontal & {
		--size: 50px;
	}

	@media (max-width: config.$mbpT) {
		--size: 40px;
	}
	@media (any-hover: hover) {
		&:hover &__circle {
			background-color: var(--hover-primary-color);
		}
	}
	&__circle {
		background-color: var(--primary-color);
		color: var(--white);
		font-size: 25px;
	
		display: flex;
		align-items: center;
		justify-content: center;

		cursor: pointer;
	
		flex-basis: calc(var(--size) * 0.8);
		width: calc(var(--size) * 0.8);
		height: calc(var(--size) * 0.8);
		border-radius: 50%;

		transition: background-color 0.3s;

		@media (max-width: config.$mbpT) {
			padding-top: 2px;
			font-size: 14px;
		}
	}
}
.account-menu-item {
	overflow: hidden;
	position: relative;
	width: 100%;

	display: flex;
	align-items: center;
	gap: 15px;
	
	padding: 27px 20px;

	border-radius: 15px;

	.account-menu_horizontal & {
		max-width: 300px;
		padding: 21px 14px;
	}

	&_drop-down {
		--opacity: 0;
		--active-opacity: 0.9;
		--border-color: var(--cabinet-menu-item-border-color);
		--background: var(--cabinet-menu-item-background);
		--active-background: var(--cabinet-menu-item-hover-background);

		color: var(--cabinet-menu-item-color);
		padding: 28px 24px;

		@media (max-width: config.$mbpT) {
			padding: 20px 24px;
		}
		@media (max-width: config.$mbpM) {
			border-radius: 12px;
			padding: 18px 12px;
		}
	}
	
	&__icon {
		position: relative;
		font-size: 24px;
		display: flex;
		align-items: center;
	}
	&__name {
		position: relative;
	}
	@media (max-width: config.$mbpT) {
		flex: 0 1 calc((100% - 10px) / 3);
		padding: 22px 20px;
	}
	@media (max-width: 700px) {
		flex: 1 1 auto;
	}
}

.account-greeting {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 32px;
	
	&__left {
		flex: 1 1 auto;
	}
	&__date {
		color: var(--statistics-description-color);
		margin-bottom: 15px;
		line-height: 1.2;
	}
	&__name {
		line-height: 1.2;
	}
	&-payment {
		// for palette
		--opacity: 0.88;
		
		flex: 1 1 auto;
		padding: 20px 30px;
	
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 20px;

		&__button {
			background: var(--greeting-button-background);
			border-radius: 100px;
			padding: 13px 25px;
	
			font-family: 'Inter Tight', sans-serif;
			color: var(--greeting-button-text);
			font-weight: 600;
			font-size: 14px;

			span {
				display: block;
			}
		}
	}
	@media (min-width: config.$mbpT) {
		&-payment {
			&__button {
				font-size: 14px;
			}
		}
	}
	@media (max-width: config.$mbpT) {
		&__date {
			margin-bottom: 10px;
		}
		&-payment {
			padding: 20px 20px 25px 20px;
			
			&__button {
				padding: 9px 14px;	
				border-radius: 5px;
			}
		}
	}
	@media (max-width: config.$mbpMM) {
		flex-wrap: wrap;
		gap: 20px;
		
		&-payment {
			padding: 16px;

			&__button {
				padding: 7px 14px;	
			}
		}
		&-payment__title {
			max-width: 90px;
		}
	}
}

.account-statistics {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 67px 85px;

	&-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex: 0 0 33%;
		max-width: 170px;
	}
	&-item__icon {
		flex: 0 0 70px;
		height: 70px;
		margin-bottom: 24px;
	}
	&-item__icon img {
		height: 100%;
		filter: drop-shadow(6px 6px 9px rgba(0, 0, 0, 0.1));
	}
	&-item__value {
		margin-bottom: 5px;
	}
	&-item__description {
		color: var(--statistics-description-color);
	}
	@media (max-width: config.$mbpT) {
		padding: 32px 42px;
	}
	@media (max-width: config.$mbpMM) {
		padding: 16px 18px;
		&-item {
			max-width: 80px;
		}
		&-item__icon {
			flex: 0 0 35px;
			height: 35px;
			margin-bottom: 10px;
		}
	}
}

.account-last-tasks {
	&__items {
		display: flex;
		flex-direction: column;
		gap: 5px;
		margin-bottom: 30px;
	}
	&-item {
		display: flex;
		align-items: center;
		gap: 14px;
		padding: 22px 20px 22px 14px;

		&__body {
			flex: 1 1 auto;
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
			gap: 20px;
		}
		&__content {
			min-height: 35px;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		&__pretitle {
			color: var(--last-tasks-pretitle-color);
			margin-bottom: 10px;
			line-height: 1.3;
		}
		&__title {
			color: var(--last-tasks-title-color);
		}
		&__subtitle {
			color: var(--last-tasks-subtitle-color);
			margin-top: 5px;
			line-height: 1.3;
		}
		&__details {
			display: flex;
			align-items: center;
			gap: 15px;
		}
		&__amount {
			color: var(--last-tasks-amount-color);
		}
		&__link {
			flex: 0 0 30px;
			width: 30px;

			border-radius: 50%;
			aspect-ratio: 1;
			
			background: var(--last-tasks-reference-background);
			
			padding-left: 2px;
			display: flex;
			align-items: center;
			justify-content: center;
			color: var(--last-tasks-reference-color);
			font-size: 12px;

			span {
				display: block;
				line-height: 1;
			}
		}
	}
	&__more {
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 12px;
		color: var(--primary-color);
	}
	&__more-icon {
		font-size: 8px;
		color: var(--status-warning);
	}
	@media (max-width: config.$mbpMM) {
		&__items {
			margin-bottom: 16px;
		}
		&-item {
			padding: 10px;

			&_minimal {
				.account-last-tasks-item__body {
					gap: 0px;
				}
			}
			&__body {
				flex-direction: column;
				align-items: flex-start;
			}
			&__pretitle {
				margin-bottom: 8px;
			}
			&__title {
				color: var(--black);
			}
			&__subtitle {
				margin-top: 8px;
			}
			&__details {
				gap: 8px;
			}
			&__link {
				flex: 0 0 24px;
				width: 24px;
				font-size: 9px;
			}
		}
	}
}

.account-rating {
	.icon {
		color: var(--rating-title-icon-color);
		font-size: 20px;
	}
	&-table {
		--columns: 1fr 2fr 1fr;
		margin-bottom: 24px;

		.account-table-body__column {
			&:nth-child(1) {
				padding-left: 10px;
			}
			&:nth-child(2) {
				color: var(--rating-second-column-text-color);
			}
			&:nth-child(3) {
				span {
					display: block;
					padding-top: 3px;
					color: var(--rating-third-column-text-color);
				}
				img {
					max-height: 30px;
					filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.1));
				}
			}
		}
		@media (min-width: mixins.px(config.$mbpTNu + 1)) {
			.account-table-body__column {
				&:nth-child(3) span {
					font-weight: 600;
					font-size: 16px;
				}
			}
		}
		@media (max-width: config.$mbpT) {
			--columns: 2fr 3fr 1fr;

			.account-table-head__column {
				&:nth-child(1) {
					padding-left: 30px;
				}
			}
			.account-table-body__column {
				&:nth-child(1) {
					padding-left: 30px;
				}
			}
		}
		@media (max-width: config.$mbpMM) {
			--columns: 1fr 2fr 1fr;
			margin-bottom: 16px;
			
			.account-table-head__column {
				&:nth-child(1) {
					padding-left: 0px;
				}
			}
			.account-table-body__column {
				&:nth-child(1) {
					padding-left: 20px;
				}
			}
		}
	}
}

.account-rate {
	&-content {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 32px;
	}
	&-content__left,
	&-content__right {
		display: flex;
		flex-direction: column;
		gap: 40px;
	}
	&-palette {
		--background: var(--rate-palette-background);
	}
	&__property {
		color: var(--rate-text-secondary-color);
		opacity: 0.6;
	}
	&__value {
		color: var(--rate-text-primary-color);
	}
	&__column-left,
	&__column-right {
		display: flex;
		flex-direction: column;
		gap: 40px;
	}
	&__block {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	&__buttons {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		column-gap: 30px;
		row-gap: 10px;
	}
	@media (max-width: config.$mbpFooterCollapse) {
		&-content {
			display: grid;
			grid-template-columns: 1fr 1fr;
			column-gap: 20px;
			row-gap: 30px;
		}
		&-content__left,
		&-content__right {
			display: contents;
		}
		&-palette {
			grid-row: 1 / 1;
			grid-column: 1 / -1;
		}
		&__column-left {
			grid-row: 2 / 2;
			grid-column: 1 / 1;
			gap: 30px;
		}
		&__column-right {
			grid-row: 2 / 2;
			grid-column: 2 / 2;
			gap: 30px;
		}
		&__buttons {
			grid-row: 3 / 3;
			grid-column: 1 / -1;
		}
	}
	@media (min-width: config.$mbpMM) {
		&-palette {
			line-height: 1;
			padding: 24px;
		}
	}
	@media (max-width: config.$mbpMM) {
		&-content {
			display: grid;
			grid-template-columns: 1fr 1fr;
			column-gap: 10px;
			row-gap: 16px;
		}
		&-palette {
			grid-row: 2 / 2;
			grid-column: 1 / -1;
		}
		&__column-left {
			grid-row: 1 / 1;
			grid-column: 1 / 1;
			gap: 16px;
		}
		&__column-right {
			grid-row: 1 / 1;
			grid-column: 2 / 2;
			gap: 16px;
		}
		&__buttons {
			column-gap: 10px;
		}
	}
}

.account-total-statistics {
	&__content {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 30px;
	}
	&__item {
		flex: 1 1 auto;
		max-width: 200px;
		display: flex;
		flex-direction: column;
		gap: 5px;
	}
	&__description {
		color: var(--total-statistics-description);
	}
	@media (max-width: config.$mbpT) {
		&__content {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			gap: 30px;
		}
	}
	@media (max-width: config.$mbpMM) {
		&__content {
			gap: 16px;
		}
	}
}

.account-last-payments {
	&-table {
		--columns: 25fr 20fr 20fr 35fr;

		&__comment {
			color: var(--last-payments-table-comment-color);
		}
	}
	@media (min-width: config.$mbpT) {
		&-table {
			.text {
				font-size: 16px;
			}
		}
	}
	@media (max-width: config.$mbpT) {
		&-table {
			--columns: 30fr 20fr 20fr 20fr;
		}
	}
	@media (max-width: config.$mbpMM) {
		&-table {
			--columns: 2fr 2fr 4fr;
		}
	}
}

.account-my-referrals {
	&-table {
		--columns: 25fr 30fr 50fr;
	
		&__status-default {
			color: var(--my-referral-table-comment-color);
		}
	}	
	@media (min-width: config.$mbpT) {
		&-table {
			.text {
				font-size: 16px;
			}
		}
	}
	@media (max-width: config.$mbpT) {
		&-table {
			--columns: 2fr 2fr 4fr;
		}
	}
}

.range {
	--thumb-size: 25px;
	--track-height: 8px;
	--progress: 40%;

	&__body {
		display: flex;
		align-items: center;
		gap: 30px;
	}
	&__value {
		color: var(--range-value-color);
		font-weight: 600;
		flex: 0 0 40px;
	}
	&__footer {
		margin-top: 30px;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	&__caption {
		color: var(--range-caption-color);
	}
	&__caption_left {
		text-align: left;
	}
	&__tip {
		color: var(--range-thumb-tip-color);
		transform: translateY(-25px);
		text-align: center;
	}
	&__caption_right {
		text-align: right;
	}
	@media (min-width: config.$mbpT) {
		&__tip span {
			font-size: 14px;
		}
	}
	@media (max-width: config.$mbpT) {
		&__body {
			gap: 60px;
		}
		&__footer {
			margin-top: 15px;
		}
		&__tip {
			transform: translateY(-5px);
		}
	}
	@media (max-width: config.$mbpMM) {
		&__body {
			margin-top: 5px;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 10px;
		}
		&__control {
			grid-column: 1 / -1;
			grid-row: 1 / 1;
		}
		&__value_left {
			grid-column: 1 / 1;
			grid-row: 2 / 2;
			text-align: left;
		}
		&__value_right {
			grid-column: 2 / 2;
			grid-row: 2 / 2;
			text-align: right;
		}
		&__tip {
			display: none;
		}
		&__footer {
			margin-top: 0px;
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
.range-slider {
	--thumb-size: 25px;
	--track-height: 8px;
	--progress: 50%;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: var(--thumb-size);
  width: 100%;
  background: transparent;

  &::-moz-range-track {
    height: var(--track-height);
    background: linear-gradient(90deg, var(--range-track-fill-background) 0%, var(--range-track-fill-background) var(--progress, 0%), transparent var(--progress, 0%), transparent 100%);
		background-color: var(--range-track-background);
		border-radius: calc(var(--track-height) / 2);
    cursor: pointer;
  }
  &::-moz-range-thumb {
    width: var(--thumb-size);
    height: var(--thumb-size);
    background: var(--range-track-background);
    border-radius: 50%;
    border-color: transparent;
    cursor: pointer;
  }
  &::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: var(--track-height);
		border-radius: calc(var(--track-height) / 2);
    background: linear-gradient(90deg, var(--range-track-fill-background) 0%, var(--range-track-fill-background) var(--progress, 0%), transparent var(--progress, 0%), transparent 100%);
		background-color: var(--range-track-background);
  }
  &::-webkit-slider-thumb {
    display: flex;
    align-items: center;

    -webkit-appearance: none;
    position: relative;
    top: calc((var(--track-height) - var(--thumb-size)) / 2);
    left: 0;

    width: var(--thumb-size);
    height: var(--thumb-size);
    border-radius: 50%;

    background: var(--range-thumb-background);
    border-color: transparent;

    cursor: pointer;
    z-index: 1;
  }
	@media (max-width: config.$mbpMM) {
		--thumb-size: 16px;
		--track-height: 4px;
	}
}

.account-discount-constructor {
	&__separator {
		margin-top: 30px;
	}
	@media (max-width: config.$mbpMM) {
		&__separator {
			display: none;
		}
	}
}
.account-discount-constructor-reference {
	margin-top: 30px;

	&__label {
		display: block;
		margin-bottom: 30px;
	}
	&__block {
		--background: var(--discount-constructor-block-background);
		--opacity: var(--discount-constructor-block-opacity);
		
		padding: 10px 10px 10px 30px;
		
		display: flex;
		align-items: center;
		gap: 10px;
	}
	&__input-block {
		--background: var(--discount-constructor-block-background);
		--opacity: var(--discount-constructor-block-opacity);
		
		display: block;
		flex: 1 1 auto;
	}
	&__input {
		display: block;		
		width: 100%;
		font-size: 16px !important;
		
		background-color: transparent;
		color: var(--discount-constructor-input-color);
	}
	@media (max-width: config.$mbpT) {
		&__label {
			margin-bottom: 15px;
			color: var(--discount-constructor-reference-title-color);
		}
		&__block {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 30px;
			padding: 0px;
		}
		&__input-block {
			width: 100%;
			padding: 25px 30px;
		}
		&__input {
			font-size: 14px !important;
		}
		button {
			padding: 20px 40px;
		}
	}
	@media (max-width: config.$mbpMM) {
		margin-top: 20px;
		&__label {
			margin-bottom: 5px;
		}
		&__block {
			gap: 15px;
		}
		&__input-block {
			padding: 10px;
		}
		&__input {
			font-size: 12px !important;
		}
		button {
			padding: 10px;
			display: block;
			width: 100%;
		}
	}
}

.study {
	&__container {
		padding-top: 40px;
		padding-bottom: 80px;
	}
	&__title {
		margin-top: 40px;
		margin-bottom: 40px;
	}
	&__modules {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	@media (max-width: config.$mbpT) {
		&__container {
			padding-top: 30px;
			padding-bottom: 30px;
		}
		&__title {
			margin-top: 30px;
			margin-bottom: 30px;
		}
	}
	@media (max-width: config.$mbpMM) {
		&__container {
			padding-top: 20px;
			padding-bottom: 20px;
		}
		&__title {
			margin-top: 0;
			margin-bottom: 20px;
		}
	}
}
.study-module {
	width: 100%;
	padding: 0px 36px;
	border-radius: 15px;
	background: var(--study-module-background);
	
	&__summary {
		padding: 30px 0px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
		user-select: none;
	}
	&_opened &__summary {
		border-bottom: 1px solid var(--study-module-separator);
	}
	&__left {
		display: flex;
		align-items: center;
		gap: 25px;
	}
	&__number {
		white-space: nowrap;
		padding: 9px 21px;
		border-radius: 100px;
		background-color: var(--status-warning);
		color: var(--white);
	}
	&__name {
		white-space: nowrap;
	}
	&__right {
		display: flex;
		align-items: center;
		gap: 20px;
	}
	&__amount {
		white-space: nowrap;
		padding: 9px 21px;
		border-radius: 100px;
		background: var(--study-module-amount-background);
		color: var(--study-module-amount-color);
	}
	&__toggler {
		--size: 24px;

		flex: 0 0 var(--size);
		height: var(--size);
		border-radius: 50%;
		color: var(--study-module-toggler-color);
		
		display: flex;
		align-items: center;
		justify-content: center;

		span {
			transform-origin: center;
			transform: rotateZ(90deg);
			font-size: 16px;
			transition: 0.3s;

			.study-module_opened & {
				transform: rotateZ(-90deg);
			}
		}
	}
	&__dropdown {
		max-height: 0px;
		overflow: hidden;
		opacity: 0;
		transition: 0.3s opacity, 0.3s padding;
	}
	&_opened &__dropdown {
		max-height: none;
		padding: 30px 0px;
		opacity: 1;
	}
	&__lessons {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}
	&__lesson {
		width: 100%;
		border-radius: 15px;
		padding: 22px;

		background: var(--background);
		border: var(--study-module-lesson-border-width) solid var(--border-color);
		
		display: flex;
		align-items: center;
		justify-content: space-between;

		position: relative;

		&_done {
			--background: var(--study-module-lesson-done-background);
			--border-color: var(--study-module-lesson-done-border-color);
			--number-background: var(--study-module-lesson-done-number-background);
			--number-color: var(--study-module-lesson-done-number-color);
			--title-color: var(--study-module-lesson-done-title-color);
			--status-color: var(--study-module-lesson-done-status-color);
		}
		&_in-process {
			--background: var(--study-module-lesson-in-process-background);
			--border-color: var(--study-module-lesson-in-process-border-color);
			--number-background: var(--study-module-lesson-in-process-number-background);
			--number-color: var(--study-module-lesson-in-process-number-color);
			--title-color: var(--study-module-lesson-in-process-title-color);
			--status-color: var(--study-module-lesson-in-process-status-color);
		}
		&_locked {
			--background: var(--study-module-lesson-locked-background);
			--border-color: var(--study-module-lesson-locked-border-color);
			--number-background: var(--study-module-lesson-locked-number-background);
			--number-color: var(--study-module-lesson-locked-number-color);
			--title-color: var(--study-module-lesson-locked-title-color);
			--status-color: var(--study-module-lesson-locked-status-color);

			opacity: 0.4;
		}
	}
	&__lesson-check {
		--size: 25px;

		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);

		width: var(--size);
		height: var(--size);
		border-radius: 50%;

		display: flex;
		align-items: center;
		justify-content: center;

		font-size: 8px;

		background: var(--study-module-lesson-check-background);
		color: var(--study-module-lesson-check-color);
	}
	&__lesson-left {
		display: flex;
		align-items: center;
		gap: 25px;
	}
	&__lesson-number {
		--size: 50px;
		
		flex: 0 0 var(--size);
		width: var(--size);
		height: var(--size);
		border-radius: 50%;
		
		display: flex;
		align-items: center;
		justify-content: center;
		
		white-space: nowrap;
		background: var(--number-background);
		color: var(--number-color);
	}
	&__lesson-name {
		color: var(--title-color);
		white-space: nowrap;
	}
	&__lesson-status {
		color: var(--status-color);
		white-space: nowrap;
	}
	@media (max-width: config.$mbpMM) {
		padding: 0px 16px;

		&__summary {
			align-items: flex-start;
			padding: 16px 0px;
		}
		&__left {
			flex-direction: column;
			align-items: flex-start;
			gap: 20px;
		}
		&__name {
			font-size: 16px;
		}
		&__right {
			flex-direction: column;
			align-items: flex-end;
			gap: 20px;
		}
		&_opened &__dropdown {
			padding: 20px 0px;
		}
		&__lessons {
			gap: 10px;
		}
		&__lesson {
			flex-direction: column;
			align-items: flex-start;
			gap: 10px;

			padding: 0px;
			padding-bottom: 10px;
			border-radius: 0px;

			background: transparent;
			border: none;

			&:not(:last-child) {
				border-bottom: 1px solid var(--study-module-separator);
			}
		}
		&__lesson-left {
			flex-direction: column;
			align-items: flex-start;
			gap: 10px;
		}
		&__lesson-number {
			--size: 35px;
			font-size: 16px;
			background: var(--study-module-lesson-in-process-number-background);
			color: var(--study-module-lesson-in-process-number-color);
		}
		&__lesson-check {
			top: 0;
			right: 0;
			left: auto;
			transform: translateX(0px) translateY(0px);
		}
		&__lesson-name {
			white-space: normal;
		}
	}
}

.courses {
	&__container {
		padding-top: 40px;
		margin-bottom: 80px;
	}
	&__block {
		margin-bottom: 30px;
	}
	&__list {
		--min-column: 280px;
		--max-column: 340px;

		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(var(--min-column), var(--max-column)));
		gap: 30px;
		
		.course-card {
			max-width: var(--max-column);
			min-width: var(--min-column);
			height: 100%;
		}
	}
	@media (max-width: config.$mbpT) {
		&__list {
			--min-column: 250px;
			--max-column: 1fr;
			gap: 20px;
		}
	}
}
.course-card {
	--badge-offset: 18px;
	--padding: 30px;

	display: flex;
	flex-direction: column;

	background: var(--course-card-background);
	border: var(--course-card-border-width) solid var(--course-card-border-color);
	border-radius: 15px;
	overflow: hidden;

	&_done {
		--course-card-border-color: var(--course-card-done-border-color);
		--course-card-border-width: var(--course-card-done-border-width);
		--course-card-background:	var(--course-card-done-background);
		--course-card-title-color: var(--course-card-done-title-color);
		--course-card-text-color: var(--course-card-done-text-color);
	}
	&_locked {
		--course-card-border-color: var(--course-card-locked-border-color);
		--course-card-border-width: var(--course-card-locked-border-width);
		--course-card-background:	var(--course-card-locked-background);
		--course-card-title-color: var(--course-card-locked-title-color);
		--course-card-text-color: var(--course-card-locked-text-color);
	}

	&__header {
		width: 100%;
		max-height: 220px;
		position: relative;

		display: flex;
		justify-content: center;
		align-items: center;
		
		overflow: hidden;
		background-color: var(--course-card-image-fallback);
	}
	&__badge {
		position: absolute;
		top: var(--badge-offset);
		left: var(--badge-offset);
		background: var(--course-card-badge-background);
		color: var(--course-card-badge-color);
		padding: 9px 20px;
		border-radius: 100px;
	}
	&__image {
		height: 100%;
	}
	&__body {
		width: 100%;
		flex: 1 1 auto;
		padding: var(--padding);
	}
	&__title {
		color: var(--course-card-done-title-color);
		margin-bottom: 15px;
	}
	&__list {
		--bullet-size: 4px;
		
		color: var(--course-card-text-color);
		
		display: flex;
		flex-direction: column;
		gap: 10px;
		
		li {
			display: flex;
			align-items: center;
			font-family: Arial, sans-serif;
			
			&::before {
				content: '';
				
				display: inline-block;
				margin: 0px 10px;
				width: var(--bullet-size);
				height: var(--bullet-size);
				border-radius: 50%;
				background-color: currentColor;
			}
		}
	}
	&__ellipsis {
		display: none;
	}
	&__footer {
		padding: var(--padding);
		padding-top: 0;
	}
	&_locked &__footer button {
		opacity: 0.5;
	}
	@media (max-width: config.$mbpT) {
		&__container {
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}
	@media (max-width: config.$mbpMM) {
		--padding: 16px;
		
		&__container {
			padding-top: 20px;
			padding-bottom: 20px;
		}
		&__header {
			max-height: 140px;
		}
		&__list li:nth-child(n+3) {
			display: none;
		}
		&__ellipsis {
			display: block;
			margin-top: 5px;
			padding-left: 25px;
		}
	}
}

.study-daily-progress {
	--steps-amount: 5;
	--item-base-width: 80px;
	--last-item-base-width: 140px;
	--progress-height: 25px;
	--track-height: 8px;
	--track-fill-expansion-width: 110px;
	--progress-steps: 2;

	&__steps {
		display: flex;
		justify-content: space-between;
		margin-bottom: 5px;
	}
	&__step {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 5px;
		flex: 0 0 var(--item-base-width);

		&:last-child {
			flex: 0 0 var(--last-item-base-width);
		}
	}
	&__reward {
		display: flex;
		align-items: center;
		gap: 10px;
	
		&:last-child {
			gap: 15px;
		}
		
		img {
			max-height: 30px;
		}
	}
	&__value {
		color: var(--study-daily-progress-benefit-color);
	}
	&__step:last-child &__value {
		color: var(--study-daily-progress-last-benefit-color);
		text-align: right;
	}
	&__condition {
		color: var(--study-daily-progress-step-color);
	}
	&__progress {
		height: var(--progress-height);
		position: relative;

		display: flex;
		align-items: center;
	}
	&__track {
		height: var(--track-height);
		width: 100%;

		border-radius: 100px;
		overflow: hidden;

		background: var(--study-daily-progress-track-background);
	}
	&__fill {
		--base-items-total-width: calc(var(--item-base-width) * (var(--steps-amount) - 1));
		--all-items-total-width: calc(var(--base-items-total-width) + var(--last-item-base-width));
		--gap-width: calc((100% - var(--all-items-total-width)) / (var(--steps-amount) - 1));

		height: 100%;
		width: calc(
			(var(--progress-steps) - 1) * var(--gap-width) + 
			var(--progress-steps) * var(--item-base-width) + 
			(var(--track-fill-expansion-width) - var(--item-base-width)) / 2
		);
	
		background: var(--study-daily-progress-track-fill-background);
		border-radius: 100px;
	}
	&__progress_done &__fill {
		width: 100%;
	}
	&__points {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__point {
		flex: 0 0 var(--item-base-width);
		height: var(--progress-height);

		display: flex;
		justify-content: center;

		&:last-child {
			flex: 0 0 var(--last-item-base-width);
			justify-content: flex-end;
		}
	}
	&__point-circle {
		flex: 0 0 var(--progress-height);
		width: var(--progress-height);
		height: var(--progress-height);

		display: flex;
		justify-content: center;
		align-items: center;
		
		border-radius: 50%;
		background: var(--study-daily-progress-track-background);
		
		span {
			font-size: 7px;
			color: var(--study-daily-progress-track-tick-color);
		}
	}
	&__point_filled &__point-circle {
		background: var(--study-daily-progress-track-fill-background);
	}
	&__hints {
		display: flex;
		justify-content: space-between;
		margin-top: 30px;
	}
	&__hint {
		&:first-child {
			color: var(--study-daily-progress-hint-left-color);
		}
		&:last-child {
			color: var(--study-daily-progress-hint-right-color);
		}
	}
}
