@use "./config.scss" as config;
@use "./mixins.scss" as mixins;

:root {
	display: flex;
	flex-direction: column;
	font-family: "Inter Tight";
	min-height: 100%;

	--separator-color: #CACACA33;
	--light-background-color: #FFFFFF;
	--theme-switch-secondary-color: #E2EDEF;
	--brand-primary-color: #19a9dd;
	--light-border-color: #EEEEEE;

	--light-primary-color: #285335;
	--status-success: #75C132;
	--status-warning: #F0AD3E;
	--status-danger: #F03E3E;

	--light-home-background-gradient: linear-gradient(180deg, #E2ECEF, #DFF6F2), #CBD7DB; 
	--light-background: linear-gradient(180deg, #E2ECEF, #C3F0CF), #E2ECEF;

	--light-palette-gradient: linear-gradient(to right bottom, #FFFFFF2C, #FFFFFF);
	--light-palette-active-gradient: linear-gradient(to right bottom, #FFFFFF2C 0%, #EDF9F247 47%, #D8F2E3 100%);
	--light-palette-outline: #FFFFFF;

	--light-horizontal-row: #cbd7db80;

	--light-table-hover: linear-gradient(to top, #D9EBDF3A, #D0E7D72B);

	--white: #ffffff;
	--black: #000000;

	--dark-100: #160E0E;
	--dark-200: #515050;
	--dark-300: #4B4F4B;
	--dark-500: #919191;
	--dark-600: #B0B0B0;
	--dark-700: #C8D4D8;

	--header-height: 100px;
	--footer-height: 100px;
	--container-width: 1580px;
	--container-padding: 30px;

	// temporary until themes are not implemented in js
	--primary-color: var(--light-primary-color);

	--home-background-gradient: var(--light-home-background-gradient);
	--background: var(--light-background);

	--palette-gradient: var(--light-palette-gradient);
	--palette-active-gradient: var(--light-palette-active-gradient);
	--palette-outline: var(--light-palette-outline);
}
@media (max-width: config.$mbpT) {
	:root {
		--header-height: 80px;
		--footer-height: 90px;
	}
}
@media (max-width: config.$mbpMM) {
	:root {
		--header-height: 95px;
		--footer-height: 120px;
		--container-padding: 15px;
	}
}

body {
	background: var(--background);
}
.logo {
	display: inline-block;
	position: relative;
	left: 0;
	top: 0;
	font-size: 0;
	&_header {
		width: 176px;
	}
	// &_invert {
	// 	filter: invert(1);
	// }
	&__img {
		width: 100%;
		height: 100%;
	}
}

.btn {
	display: inline-block;
	white-space: nowrap;
	transition: color 0.3s, background-color 0.3s, transform 0.3s, opacity 0.3s, box-shadow 0.3s, border-color 0.3s;
	color: var(--color, black);
	background-color: var(--bg-color, transparent);
	cursor: pointer;
	text-align: center;
	&_primary {
		--color: var(--light-900);
		--bg-color: var(--dark-900);
		--hover-bg-color: var(--dark-907);
		padding: 14px 20px;
		border-radius: 5px;
	}
	&_social {
		padding: 4px;
	}
	&_social &__icon {
		font-size: 24px;
	}
	@media (any-hover: hover) {
		&:hover {
			color: var(--hover-color, var(--color));
			--bg-color: var(--hover-bg-color);
			//background-color: var(--hover-bg-color, var(--bg-color, transparent));
			transform: var(--hover-transform, none);
			opacity: var(--hover-opacity, 1);
			//box-shadow: 5px 5px 15px 0px var(--hover-shadow-color, transparent);
			border-color: var(--hover-border-color, var(--border-color, transparent));
		}
	}
	&:disabled {
		opacity: 0.6;
	}
}
.ratio-wrap {
	display: flex;
	// &_lazy:not(._loaded) &__inner::after {
	// 	@include spinner;
	// }
	&::before {
		content: "";
		display: inline-block;
		padding-top: var(--height-ratio, 50%);
	}
	& img, & video, & &__item {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	&_cut img, &_cut video, &_cut &__item {
		left: -1%;
		top: -1%;
		width: 102%;
		height: 102%;
	}
	&_contain img, &_contain video, &_contain &__item {
		object-fit: contain;
	}
	&_cover img, &_cover video, &_cover &__item {
		object-fit: cover;
	}
}
.drawers {
	position: relative;
	z-index: 10000;
}
.drawer {
	position: fixed;
	left: 0;
	top: 0;
	width: calc(100% - var(--scroll-compensation));
	height: 100%;
	z-index: var(--z-index, 1);
	&_dialog {
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s, visibility 0.3s;
		background-color: var(--dark-903);
	}
	&_dialog#{&}_open {
		opacity: 1;
		visibility: visible;
		transform: translateY(0px);
	}
	&_dialog &__panel {
		background-color: var(--light-900);
		border-radius: 8px;
		overflow: hidden;
		max-width: 500px;
		width: 100%;
		transform: translateY(10px);
		transition: transform 0.3s;
	}
	&_dialog#{&}_open &__panel {
		transform: translateY(0px);
	}
	&_dialog &__header {
		display: grid;
		grid-template-columns: 1fr auto;
		align-items: center;
		color: var(--light-900);
		font-weight: 600;
		padding: 12px 12px 12px 20px;
		background-color: var(--dark-900);
	}
	&_dialog &__body {
		font-size: 18px;
		line-height: 1.4;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 30px;
		background-color: var(--light-900);
	}
	&:not(.drawer_open) {
		pointer-events: none;
	}
	&:not(#{&}_modal) {
		pointer-events: none;
	}
}

// UI KIT
.container {
	width: 100%;
	max-width: var(--container-width);
	padding: 0px var(--container-padding);
	margin: 0 auto;
}

@mixin button_block {
	display: block;
	width: 100%;
	flex: 0 0 100%;
}
.button {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 20px 40px;
	border-radius: 5px;
	&_filled {
		background-color: var(--primary-color);
		border: 1px solid var(--primary-color);
	}
	&_outlined {
		border: 1px solid var(--primary-color);
	}
	&_white {
		background-color: var(--white);
	}
	&_rounded {
		border-radius: 100px;
	}
	&_centered {
		justify-content: center;
	}
	&_big {
		padding: 28px 60px;
		border-radius: 8px;
		font-size: 22px;
		border-width: 2px;
	}
	&_small {
		padding: 12px 25px;
	}
	&_block {
		@include button_block;
	}
	&:disabled {
		opacity: 0.5;
	}
	@media (max-width: config.$mbpT) {
		&_big {
			padding: 22px 40px;
		}
		&_small {
			padding: 10px 14px;
		}
	}
	@media (max-width: config.$mbpMM) {
		& {
			padding: 10px 24px;
		}
		&_big {
			padding: 18px 40px;
		}
		&_small {
			padding: 7px 14px;
		}
	}
}

.button__text {
	display: block;
	font-family: 'Inter Tight', sans-serif;
	font-weight: 600;
	font-size: 18px;
	line-height: 1.2;
	color: var(--primary-color);

	.button_big & {
		font-size: 22px;
	}
	.button_filled & {
		color: var(--white);
	}
	&.button__text_black {
		color: var(--dark-100);
	}
	.dark-theme & {
		color: var(--white);
	}
	&_uppercase {
		text-transform: uppercase;
	}
	@media (max-width: config.$mbpT) {
		& {
			font-size: 16px;
		}
		.button_big & {
			font-size: 18px;
		}
	}
	@media (max-width: config.$mbpMM) {
		& {
			font-size: 14px;
		}
	}
}

@mixin palette-background($opacity: 0.77) {
	overflow: hidden;
	position: relative;
	border-radius: 15px;
	border: 1px solid var(--palette-outline);

	&::before {
		content: '';
	
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	
		background: var(--palette-gradient);
		opacity: $opacity;
	}
}
@mixin palette-active-background($opacity: 1) {
	&::before {
		background: var(--palette-active-gradient);
		opacity: $opacity;
	}
}
.palette {
	@include palette-background;
}

.status-line {
	@include palette-background(0.88);

	display: flex;
	align-items: center;
	padding: 22px 14px;

	&-indicator {
		align-self: stretch;
		min-height: 35px;
		width: 3px;
		flex: 0 0 3px;
		border-radius: 2px;

		&_green {
			background-color: var(--status-success);
		}
		&_orange {
			background-color: var(--status-warning);
		}
		&_red {
			background-color: var(--status-danger);
		}
	}
	@media (max-width: config.$mbpMM) {
		.status-line {
			padding: 10px;
		
			&-indicator {
				min-height: 20px;
			}
		}
	}
}

// Blocks and Pages
.home-hero {
	width: 100%;
	height: calc(100dvh - var(--header-height) - var(--footer-height));
	overflow: hidden;
	background: linear-gradient(180deg, #E2ECEF, #DFF6F2), #CBD7DB;
	& .container {
		padding-top: 200px;
		position: relative;
	}
	&-image {
		width: 985px;
		max-width: 65%;
		position: absolute;
		top: 10px;
		right: 0px;
	}
	&-image img {
		max-width: 100%;
	}
	&-content {
		position: relative;
		z-index: 1;
	}
	&-content__title {
		margin-bottom: 5px;
		color: var(--primary-color);
	}
	&-content__title span {
		display: block;
		line-height: 1.15;
	}
	&-content__description {
		margin-bottom: 40px;
		max-width: 670px;
		color: var(--dark-300);
	}
	&-content__buttons {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 40px;
	}
	@media (max-width: config.$mbpPC) {
		&-image {
			max-width: 55%;
		}
	}
	@media (max-width: config.$mbpT) {
		& .container {
			padding-top: 80px;
			display: flex;
			flex-direction: column;
			gap: 70px;
		}
		&-image {
			width: 100%;
			max-width: 100%;
			padding-right: 10%;
			display: flex;
			justify-content: center;
			position: relative;
			overflow: hidden;
		}
		&-image img {
			width: 610px;
		}
		&-content__description {
			color: var(--primary-color);
			max-width: 530px;
		}
		&-content__buttons {
			gap: 20px;
		}
		&-content__buttons .button__text_black {
			color: var(--primary-color);
		}
	}
	@media (max-width: config.$mbpMM) {
		& .container {
			padding-top: 40px;
			gap: 40px;
		}
		&-image {
			padding-right: 15%;
		}
		&-image img {
			min-width: 130%;
			max-width: 150%;
		}
		&-content__title {
			margin-top: 0px;
		}
		&-content__description {
			margin-bottom: 20px;
		}
		&-content__buttons {
			flex-direction: column;
			gap: 10px;
		}
		&-content__buttons .button {
			@include button_block;
		}
	}
}

.account {
	&-layout {
		display: flex;
		gap: 32px;
		padding: 40px 0px 80px 0px; 

		&-column,
		&-column-slice {
			display: flex;
			flex-direction: column;
			gap: 32px;
		}

		&-sidebar {
			flex: 0 0 350px;
		}
		&-center {
			flex: 1 1 auto;
		}
		@media (max-width: config.$mbpT) {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(4, auto);

			&-column {
				display: contents;
			}

			&-sidebar {
				width: 100%;

				&__top {
					grid-row: 2 / 2;
					grid-column: 1 / 1;
				}
				&__bottom {
					grid-row: 4 / 4;
					grid-column: 1 / 1;
				}
			}
			&-center {
				width: 100%;

				&__top {
					grid-row: 1 / 1;
					grid-column: 1 / 1;
				}
				&__bottom {
					grid-row: 3 / 3;
					grid-column: 1 / 1;
				}
			}
		}
		@media (max-width: config.$mbpMM) {
			gap: 16px;

			&-column,
			&-column-slice {
				gap: 16px;
			}

			&-sidebar {
				&__top {
					display: none;
				}
			}
		}
	}

	&-block {
		@include palette-background(0.88);
		padding: 30px;

		&__title {
			color: var(--primary-color);
			margin-bottom: 30px;

			display: flex;
			align-items: center;
			gap: 10px;
		}
		&_compressed &__title {
			margin-bottom: 20px;
		}
		&__horizontal-row {
			border: 0.3px solid var(--light-horizontal-row);
			margin-bottom: 30px;
		}
		@media (max-width: config.$mbpT) {
			&_compressed &__title {
				margin-bottom: 30px;
			}
		}
		@media (max-width: config.$mbpMM) {
			padding: 16px;

			&__title {
				margin-bottom: 20px;
			}
			&_compressed &__title {
				margin-bottom: 16px;
			}
			&__horizontal-row {
				border: 0.3px solid var(--light-horizontal-row);
				margin-bottom: 16px;
			}
		}
	}

	&-menu {
		max-width: 350px;
		display: flex;
		flex-direction: column;
		gap: 5px;

		&_horizontal {
			flex-direction: row;
		}
		&-info {
			@include palette-background(0.88);
			
			height: 100px;
			width: 100%;
		
			display: flex;
			align-items: center;
			gap: 20px;
		
			padding: 10px 20px;
			&-avatar {
				position: relative;
				
				flex: 0 0 70px;
				width: 70px;
				aspect-ratio: 1;
				
				display: flex;
				align-items: center;
				justify-content: center;
				
				border: 1px solid var(--dark-700);
				border-radius: 50%;
			}
			&-avatar__circle {
				background-color: var(--primary-color);
				color: var(--white);
				font-size: 25px;
			
				display: flex;
				align-items: center;
				justify-content: center;
			
				aspect-ratio: 1;
				border-radius: 50%;
				flex: 0 0 55px;
			}
			&-info__content {
				display: flex;
				flex-direction: column;
				gap: 2px;
			}
			&-lessons {
				display: flex;
				align-items: center;
				gap: 5px;
			}
			&-lessons-icon {
				font-size: 12px;
				color: var(--primary-color);
			}
			&-lessons-icon span {
				display: block;
			}
			&-lessons__amount {
				color: var(--pr)
			}
			&__name {
				color: var(--dark-300);
			}
		}
		&-item {
			@include palette-background;
		
			width: 100%;
			height: 80px;
			flex: 0 0 80px;
		
			display: flex;
			align-items: center;
			gap: 15px;
			
			padding: 10px 20px;

			&_active {
				@include palette-background;
				@include palette-active-background;
			}
			&__icon {
				position: relative;
				font-size: 24px;
				display: flex;
				align-items: center;
			}
			&__name {
				position: relative;
			}
		}
		@media (max-width: config.$mbpT) {
			max-width: 100%;
			flex-direction: row;
			flex-wrap: wrap;

			&-item {
				flex: 0 1 calc((100% - 10px) / 3);
				height: 70px;
			}
			&-info {
				flex: 0 1 calc((100% - 10px) / 3);
				padding: 10px;
				height: 70px;
				gap: 10px;
	
				&-avatar {
					flex: 0 0 40px;
					width: 40px;
				}
				&-avatar__circle {
					padding-top: 2px;
					flex: 0 0 32px;
					font-size: 14px;
				}
			}
		}
		@media (max-width: 700px) {
			&-info {
				flex: 1 1 auto;
			}
			&-item {
				flex: 1 1 auto;
			}
		}
	}

	&-greeting {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 32px;
		
		&__left {
			flex: 1 1 auto;
		}
		&__date {
			color: var(--dark-300);
			margin-bottom: 15px;
			line-height: 1.2;
		}
		&__name {
			line-height: 1.2;
		}
		&-payment {
			@include palette-background(0.88);
			
			flex: 1 1 auto;
			padding: 20px 30px;
		
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
			gap: 20px;
		}
		@media (max-width: config.$mbpT) {
			&__date {
				margin-bottom: 10px;
			}
			&-payment {
				padding: 20px 20px 25px 20px;
			}
		}
		@media (max-width: config.$mbpMM) {
			flex-wrap: wrap;
			gap: 20px;
			
			&-payment {
				padding: 16px;
			}
			&-payment__title {
				max-width: 90px;
			}
		}
	}

	&-statistics {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 67px 85px;

		&-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			flex: 0 0 33%;
			max-width: 170px;
		}
		&-item__icon {
			flex: 0 0 70px;
			height: 70px;
			margin-bottom: 24px;
		}
		&-item__icon img {
			height: 100%;
			filter: drop-shadow(6px 6px 9px rgba(0, 0, 0, 0.1));
		}
		&-item__value {
			margin-bottom: 5px;
		}
		&-item__description {
			color: var(--dark-300);
		}
		@media (max-width: config.$mbpT) {
			padding: 32px 42px;
		}
		@media (max-width: config.$mbpMM) {
			padding: 16px 18px;
			&-item {
				max-width: 80px;
			}
			&-item__icon {
				flex: 0 0 35px;
				height: 35px;
				margin-bottom: 10px;
			}
		}
	}

	&-last-tasks {
		&__items {
			display: flex;
			flex-direction: column;
			gap: 5px;
			margin-bottom: 30px;
		}
		&-item {
			display: flex;
			align-items: center;
			gap: 14px;
			padding: 22px 20px 22px 14px;

			&__body {
				flex: 1 1 auto;
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-wrap: wrap;
				gap: 20px;
			}
			&__content {
				min-height: 35px;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
			&__pretitle {
				color: var(--primary-color);
				margin-bottom: 10px;
				line-height: 1.3;
			}
			&__title {
				color: var(--dark-200);
			}
			&__subtitle {
				color: var(--dark-500);
				margin-top: 5px;
				line-height: 1.3;
			}
			&__details {
				display: flex;
				align-items: center;
				gap: 15px;
			}
			&__link {
				flex: 0 0 30px;
				width: 30px;

				border-radius: 50%;
				aspect-ratio: 1;
				
				background-color: var(--primary-color);
				
				padding-left: 2px;
				display: flex;
				align-items: center;
				justify-content: center;
				color: var(--white);
				font-size: 12px;

				span {
					display: block;
					line-height: 1;
				}
			}
		}
		&__more {
			margin: 0 auto;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 12px;
			color: var(--primary-color);
		}
		&__more-icon {
			font-size: 8px;
			color: var(--status-warning);
		}
		@media (max-width: config.$mbpMM) {
			&__items {
				margin-bottom: 16px;
			}
			&-item {
				padding: 10px;

				&_minimal {
					.account-last-tasks-item__body {
						gap: 0px;
					}
				}
				&__body {
					flex-direction: column;
					align-items: flex-start;
				}
				&__pretitle {
					margin-bottom: 8px;
				}
				&__title {
					color: var(--black);
				}
				&__subtitle {
					margin-top: 8px;
				}
				&__details {
					gap: 8px;
				}
				&__link {
					flex: 0 0 24px;
					width: 24px;
					font-size: 9px;
				}
			}
		}
	}

	&-more {
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 12px;

		&__icon {
			font-size: 8px;
		}
	}

	&-rating {
		.icon {
			color: var(--status-warning);
			font-size: 20px;
		}
		&-table {
			--columns: 1fr 2fr 1fr;
			margin-bottom: 24px;

			.account-table-body__column {
				&:nth-child(1) {
					padding-left: 10px;
				}
				&:nth-child(2) {
					color: var(--dark-200);
				}
				&:nth-child(3) {
					span {
						display: block;
						padding-top: 3px;
					}
					img {
						max-height: 30px;
						filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.1));
					}
				}
			}
			@media (min-width: config.$mbpFooterCollapse) {
				.account-table-body__column {
					&:nth-child(3) {
						font-weight: 600;
						font-size: 16px;
					}
				}
			}
			@media (max-width: config.$mbpT) {
				--columns: 2fr 3fr 1fr;

				.account-table-head__column {
					&:nth-child(1) {
						padding-left: 30px;
					}
				}
				.account-table-body__column {
					&:nth-child(1) {
						padding-left: 30px;
					}
				}
			}
			@media (max-width: config.$mbpMM) {
				--columns: 1fr 2fr 1fr;
				margin-bottom: 16px;
				
				.account-table-head__column {
					&:nth-child(1) {
						padding-left: 0px;
					}
				}
				.account-table-body__column {
					&:nth-child(1) {
						padding-left: 20px;
					}
				}
			}
		}
	}

	&-table {
		border-top: 1px solid var(--light-horizontal-row);
		display: block;

		&-head {
			width: 100%;
			display: grid;
			grid-template-columns: var(--columns);
			padding: 20px 0px;
			gap: 10px;

			tr {
				display: contents;
			}

			&__column {
				font-family: 'Inter Tight', sans-serif;
				color: var(--dark-600);
				font-size: 14px;
			}
		}
		&-body {
			display: flex;
			flex-direction: column;
			gap: 5px;

			&__item {
				width: 100%;
				display: grid;
				grid-template-columns: var(--columns);
				gap: 10px;
				
				&_plain {
					padding: 20px 0px;
					border-radius: 12px;
					border: 1px solid transparent;
				}
				&_hoverable {
					@media (hover: hover) {
						&:hover {
							background: var(--light-table-hover);
						}
					}
				}
				&_clickable {
					cursor: pointer;
				}
			}
			&__column {
				height: 100%;
				display: flex;
				align-items: center;
				gap: 15px;
			}
		}

		&_status &-head {
			padding-left: 40px;
			padding-right: 14px;
		}
		&_status &-body__item {
			padding-left: 24px;
		}
		@media (max-width: config.$mbpT) {
			&_status &-head__column:first-child {
				margin-left: -40px;
			}
		}
		@media (max-width: config.$mbpMM) {
			&-body {
				&__item {
					&_plain {
						padding: 10px 0px;
					}
					&_hoverable {
						background: var(--light-table-hover);
					}
				}
			}
			&_status &-head {
				padding-left: 26px;
				padding-right: 10px;
			}
			&_status &-head__column:first-child {
				margin-left: -26px;
			}
			&_status &-body__item {
				padding-left: 10px;
			}
		}
	}
}
