---
import Layout from 'src/layouts/Layout.astro'

---
<Layout title="Крипто школа" description="Крипто школа">
  <div class="container blog-article-page__container">
    <div class="breadcrumbs blog-article-page__breadcrumbs">
      <a href="/" class="breadcrumbs__link">
        Головна
      </a>
      <div class="breadcrumbs__arrow">
        <span class="icon-nav-arrow-right"></span>
      </div>
      <a href="#" class="breadcrumbs__link">
        Блог
      </a>
      <div class="breadcrumbs__arrow">
        <span class="icon-nav-arrow-right"></span>
      </div>
      <a href="#" class="breadcrumbs__link breadcrumbs__link_active">
        Абстракция аккаунта
      </a>
    </div>

    <div class="blog-article-layout palette palette_blurred palette_hide-tablet palette_hide-mobile blog-article-page__layout">
      <div class="blog-article-layout__content palette palette_hide-desktop"></div>

      <div class="blog-article-layout__sidebar">
        <div class="blog-article-layout__contents palette">
          <h6 class="text color-primary">Содержание</h6>

          <ul class="account-list blog-article-layout__contents-list">
            <li>Общая информация о MEXC</li>
            <li>Общая информация о MEXC</li>
            <li>Общая информация о MEXC</li>
            <li>Общая информация о MEXC</li>
            <li>Общая информация о MEXC</li>
            <li>Общая информация о MEXC</li>
            <li>Общая информация о MEXC</li>
          </ul>
        </div>

        <div class="blog-article-layout__categories">
          <a href="#" class="chip">
            <div class="text chip__text">
              Категория 1
            </div>
          </a>
    
          <a href="#" class="chip">
            <div class="text chip__text">
              Категория 2
            </div>
          </a>
    
          <a href="#" class="chip">
            <div class="text chip__text">
              Категория 3
            </div>
          </a>
    
          <a href="#" class="chip">
            <div class="text chip__text">
              Категория 4
            </div>
          </a>
    
          <a href="#" class="chip">
            <div class="text chip__text">
              Категория 5
            </div>
          </a>
    
          <a href="#" class="chip">
            <div class="text chip__text">
              Категория 6
            </div>
          </a>
    
          <a href="#" class="chip">
            <div class="text chip__text">
              Категория 7
            </div>
          </a>
    
          <a href="#" class="chip">
            <div class="text chip__text">
              Категория 8
            </div>
          </a>
        </div>

        <div class="blog-article-layout__share palette">
          <h6 class="text color-primary">Поділитися</h6>

          <div class="blog-article-layout__share-links">
            <a href="" class="blog-article-layout__share-link">
              <span class="icon-telegram"></span>
            </a>
            <a href="" class="blog-article-layout__share-link">
              <span class="icon-instagram"></span>
            </a>
            <a href="" class="blog-article-layout__share-link">
              <span class="icon-youtube-filled"></span>
            </a>
            <a href="" class="blog-article-layout__share-link">
              <span class="icon-twitter"></span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <h4 class="h4 color-primary blog-article-page__recommendations-title">Наш блог</h4>

    <div class="blog-article-page__recommendations">
      <div class="blog-article-card">
        <div class="blog-article-card__image">
          <img src="./assets/img/temp/blog-article-placeholder.png">
        </div>
        <div class="blog-article-card__body">
          <div class="blog-article-card__title text">
            22 идеи подарков для криптоэнтузиаста: для всех праздников и...
          </div>
          <div class="blog-article-card__text text-small">
            Рынки предсказаний стали одним из главных трендов 2024 года. Так, Polymarket удалось привлечь ставок на общую сумму...
          </div>
        </div>
        <div class="blog-article-card__footer">
          <button class="blog-article-card__button text-small">
            Читать статью
          </button>
        </div>
      </div>

      <div class="blog-article-card">
        <div class="blog-article-card__image">
          <img src="./assets/img/temp/blog-article-placeholder.png">
        </div>
        <div class="blog-article-card__body">
          <div class="blog-article-card__title text">
            22 идеи подарков для криптоэнтузиаста: для всех праздников и...
          </div>
          <div class="blog-article-card__text text-small">
            Рынки предсказаний стали одним из главных трендов 2024 года. Так, Polymarket удалось привлечь ставок на общую сумму...
          </div>
        </div>
        <div class="blog-article-card__footer">
          <button class="blog-article-card__button text-small">
            Читать статью
          </button>
        </div>
      </div>

      <div class="blog-article-card">
        <div class="blog-article-card__image">
          <img src="./assets/img/temp/blog-article-placeholder.png">
        </div>
        <div class="blog-article-card__body">
          <div class="blog-article-card__title text">
            22 идеи подарков для криптоэнтузиаста: для всех праздников и...
          </div>
          <div class="blog-article-card__text text-small">
            Рынки предсказаний стали одним из главных трендов 2024 года. Так, Polymarket удалось привлечь ставок на общую сумму...
          </div>
        </div>
        <div class="blog-article-card__footer">
          <button class="blog-article-card__button text-small">
            Читать статью
          </button>
        </div>
      </div>

      <div class="blog-article-card">
        <div class="blog-article-card__image">
          <img src="./assets/img/temp/blog-article-placeholder.png">
        </div>
        <div class="blog-article-card__body">
          <div class="blog-article-card__title text">
            22 идеи подарков для криптоэнтузиаста: для всех праздников и...
          </div>
          <div class="blog-article-card__text text-small">
            Рынки предсказаний стали одним из главных трендов 2024 года. Так, Polymarket удалось привлечь ставок на общую сумму...
          </div>
        </div>
        <div class="blog-article-card__footer">
          <button class="blog-article-card__button text-small">
            Читать статью
          </button>
        </div>
      </div>
    </div>
  </div>
</Layout>
