---
import Button from 'src/components/basic/Button.astro'
import Layout from 'src/layouts/Layout.astro'

---
<Layout title="Крипто школа" description="Крипто школа">
  <div class="container container_wide blog-article-page__container">
    <div class="breadcrumbs blog-article-page__breadcrumbs">
      <a href="/" class="breadcrumbs__link">
        Головна
      </a>
      <div class="breadcrumbs__arrow">
        <span class="icon-nav-arrow-right"></span>
      </div>
      <a href="#" class="breadcrumbs__link">
        Блог
      </a>
      <div class="breadcrumbs__arrow">
        <span class="icon-nav-arrow-right"></span>
      </div>
      <a href="#" class="breadcrumbs__link breadcrumbs__link_active">
        Абстракция аккаунта
      </a>
    </div>

    <div class="blog-article-layout palette palette_blurred palette_hide-tablet palette_hide-mobile blog-article-page__layout">
      <div class="blog-article-layout__center palette palette_hide-desktop">
        <div class="blog-article-layout__illustration">
          <img src="./assets/img/temp/blog-article-layout-placeholder.png" alt="">
        </div>

        <h4 class="h4 color-primary blog-article-layout__title">
          Абстракция аккаунта
        </h4>

        <div class="blog-article-info">
          <div class="blog-article-info__header">
            <div class="text color-primary">Редакторска група</div>
            <div class="blog-article-info__details">
              <div class="blog-article-info__detail">
                <span class="icon-calender"></span>
                <div class="text-small">12.12.2024</div>
              </div>

              <div class="blog-article-info__detail">
                <span class="icon-clock"></span>
                <div class="text-small">15 мин</div>
              </div>
            </div>
          </div>
          <div class="blog-article-info__content">
            <div class="blog-article-info__author">
              <div class="blog-article-info__author-avatar">
                <img src="./assets/img/temp/blog-article-author-placeholder.png" alt="">
              </div>
              <div class="blog-article-info__author-data">
                <div class="text color-primary">Фамилия Имя Отчество</div>
                <div class="text-small blog-article-info__author-subtitle">Автор</div>
              </div>
            </div>

            <div class="blog-article-info__author">
              <div class="blog-article-info__author-avatar">
                <img src="./assets/img/temp/blog-article-author-placeholder.png" alt="">
              </div>
              <div class="blog-article-info__author-data">
                <div class="text color-primary">Фамилия Имя Отчество</div>
                <div class="text-small blog-article-info__author-subtitle">Рецентезнт</div>
              </div>
            </div>
          </div>
        </div>

        <div class="blog-article-layout__content">
          <div class="blog-article-layout__block">
            <h5 class="h6 color-primary blog-article-layout__block-title">Что такое абстракция аккаунта?</h5>
    
            <p class="blog-article-layout__block-paragraph text-small">
              Абстракция аккаунта - это процесс облегчения взаимодействия пользователей с блокчейном через 
              кастомизацию определенных элементов учетных записей <a href="#">смарт-контрактов</a>, начиная от методов 
              оплаты комиссии и заканчивая механизмами одобрения транзакций.
              
            </p>
    
            <p class="blog-article-layout__block-paragraph text-small">
              Это широко обсуждалось в сообществе Ethereum, при этом Виталик Бутерин выдвинул 
              множество предложений (ERC 4337, EIP 2938, и другие), которые описывают, как сделать 
              транзакции проще для конечного пользователя.
            </p>
          </div>
  
          <div class="blog-article-layout__block">
            <h5 class="h6 color-primary blog-article-layout__block-title">Общие сведения об аккаунтах Ethereum</h5>
    
            <p class="blog-article-layout__block-paragraph text-small">
              Чтобы понять ценность абстракции учетных записей, необходимо сначала разобраться 
              в основах аккаунтов Ethereum. В Ethereum существует два типа сущностей: Внешние 
              аккаунты (External Owned Accounts или EOA), и аккаунты смарт-контрактов.
            </p>
              
            <p class="blog-article-layout__block-paragraph text-small">
              EOA состоит из пары криптографических ключей: открытого и закрытого. Он представлен 
              адресом, который создается после того, как пользователь настроил свою пару ключей. 
              <a href="#">Закрытый ключ</a> используется для подписывания транзакций; он предоставляет пользователям 
              право распоряжаться средствами, связанными с их аккаунтами.
              Затем эта пара ключей может подписывать транзакции с заданного адреса. Это возможно потому, 
              что ключ и аккаунт - это одно целое. Это приводит к специфическим ограничениям. Например, 
              в том что один ключ исполользуется и для авторизации транзакций и контроля учетной записи. 
              В случае утери или кражи ключа, аккаунт, скорее всего, будет потерян навсегда.
            </p>
              
            <p class="blog-article-layout__block-paragraph text-small">
              EOA также представляют собой проблему, потому что, будучи индивидуальными аккаунтами, 
              они могут выставлять единичные транзакции, которые нужно верифицировать по одной, каждый 
              раз платя за газ.
              В конечном счете, пространство для маневра и кастомизации невелико, пользователи, 
              например, не могут создать собственную логику для включения большего количества 
              подписантов или авторизации различных ключей для входа в их учетные записи. Это 
              формирует очень ограничивающие рамки для транзакций.
            </p>
          </div>

          <div class="blog-article-layout__block">
            <h5 class="h6 color-primary blog-article-layout__block-title">Абстракция аккаунта для улучшения пользовательского опыта</h5>

            <div class="blog-article-layout__block-image">
              <img src="./assets/img/temp/blog-article-image-placeholder.png" alt="">
            </div>

            <p class="blog-article-layout__block-paragraph text-small">
              Абстракция аккаунта - это способ решения этих проблем путем преобразования EOA в 
              смарт-контракт с собственной логикой принятия решения о том, что является 
              подтвержденной транзакцией. Это означает, что подписант и аккаунт могут быть 
              развязаны, что открывает более широкий спектр возможностей для использования 
              учетной записи.
            </p>
            
            <p class="blog-article-layout__block-paragraph text-small">
              Например, абстракция аккаунта может позволить EOA выполнять широкий спектр 
              действий, таких как использование нескольких ключей (или ни одного) для 
              авторизации транзакций или смена подписанта счета каждую неделю.
            </p>

            <p class="blog-article-layout__block-paragraph text-small">
              Существенным преимуществом абстракции аккаунта является улучшение пользовательского 
              опыта (UX) и безопасности из-за бесшовности получающихся взаимодействий.
            </p>

            <p class="blog-article-layout__block-paragraph text-small">
              У технологии множество сценариев использования, которые снимают часть существующих 
              проблем, особенно в масштабировании проектов и онбординге.
            </p>
          </div>

          <div class="blog-article-layout__block">
            <h5 class="h6 color-primary blog-article-layout__block-title">Социальное восстановление и абстракция аккаунта</h5>

            <p class="blog-article-layout__block-paragraph text-small">
              Социальное восстановление - это одно из улучшений UX, принесенных 
              абстракцией аккаунта. Оно позволяет избежать проблемы единой точки 
              отказа с закрытым ключом. Абстракция аккаунта позволяет создавать 
              сеть безопасности из нескольких подписывающих сторон.
            </p>
            
            <p class="blog-article-layout__block-paragraph text-small">
              Абстракция аккаунта также может быть использована для создания 
              лучших блокчейн-игр с собственными микроэкономиками. <a href="#">Play-to-earn</a> 
              уже становится довольно прибыльной сценой, но её сдерживает 
              количество микротранзакций, необходимых для поддержания игрового 
              процесса с многими <a href="#">NFT</a> внутриигровых активов у тысяч пользователей. 
              Абстракция аккаунта решает эту проблему через механизм коллективных 
              подписей.
            </p>
          </div>

          <div class="blog-article-layout__block">
            <h5 class="h6 color-primary blog-article-layout__block-title">Улучшенные транзакции и абстракция аккаунта</h5>

            <p class="blog-article-layout__block-paragraph text-small">
              Наконец, атомарные (пакетные) транзакции через абстракцию 
              аккаунтов могут позволить пользователям оплачивать комиссии 
              в нативном токене вместо ETH, используемого сейчас. Это 
              упрощает взаимодействие с L2, так что пользователям больше 
              не требуется закупаться лишний раз эфиром перед 
              использованием блокчейна.
            </p>
            
            <p class="blog-article-layout__block-paragraph text-small">
              Абстракция акканта также позволяет осуществлять мета-транзакции. 
              Они подобны ассистенту, который выполняет транзакцию, подписанную 
              другой стороной, от имени первоначального подписанта. Это устраняет 
              сложности и затраты на газ на публичных блокчейнах, позволяя этим 
              заниматься ретрансляционной сети, в то время как от пользователя 
              требуется лишь подписать транзакцию одним кликом.
            </p>

            <p class="blog-article-layout__block-paragraph text-small">
              Эти мета-транзакции позволяют абстрагировать оплату транзакции от 
              пользователя и отдать её в распоряжение dApp, тем самым упрощая весь процесс. 
              Это особенно полезно в таких областях, как игры "play-to-earn" и 
              инструменты онбординга. Эта абстракция платы также может устранить 
              сложности с оплатой транзакций на блокчейне через dApps, позволяя 
              проводить платежи через их нативный токен. Если пользователь захочет 
              расплатиться не криптовалютой блокчейна (например, $ETH), а нативным 
              токеном, абстракция аккаунта делает это возможным. Наконец, она 
              позволяет лучше контролировать взаимодействия с dApp благодаря 
              сессионным ключам. Сессионный ключ - это симметричный криптографический 
              ключ, используемый для шифрования сеанса связи. Проще говоря, это 
              одноразовый ключ для шифрования и расшифровки данных, пересылаемых 
              между двумя сторонами. Например, если вы хотите взаимодействовать с 
              dApp, но не хотите постоянно подписывать транзакции, чтобы подтверждать 
              каждый свой шаг, сессионный ключ устанавливает параметры того, что 
              dApp может и не может делать по отношению к вашей учетной записи.
              Таким образом, вам не придется доверять третьей стороне свои логины и 
              разрешения, а также вы сможете сэкономить время и нервы на бесчисленных 
              подтверждениях.
            </p>
          </div>

          <div class="slider blog-article-layout__block blog-article-layout__slider" data-slider="article-slider">
            <div class="slider__slides" data-slider-for="article-slider" data-slider-slides>
              <div class="slider__slide">
                <img class="slider__image" src="./assets/img/temp/article-slider-image.png">
              </div>
              <div class="slider__slide">
                <img class="slider__image" src="./assets/img/temp/article-slider-image.png">
              </div>
              <div class="slider__slide">
                <img class="slider__image" src="./assets/img/temp/article-slider-image.png">
              </div>
              <div class="slider__slide">
                <img class="slider__image" src="./assets/img/temp/article-slider-image.png">
              </div>
            </div>

            <div class="slider__controls">
              <div class="slider-control slider-control-left" data-slider-for="article-slider" data-slider-control-left>
                <span class="icon-nav-arrow-left"></span>
              </div>
              <div class="slider-control slider-control-right" data-slider-for="article-slider" data-slider-control-right>
                <span class="icon-nav-arrow-right"></span>
              </div>
            </div>

            <div class="slider__nav">
              <div class="slider__nav-item slider__nav-item_active" data-slider-for="article-slider" data-slider-nav-item="0"></div>
              <div class="slider__nav-item" data-slider-for="article-slider" data-slider-nav-item="1"></div>
              <div class="slider__nav-item" data-slider-for="article-slider" data-slider-nav-item="2"></div>
              <div class="slider__nav-item" data-slider-for="article-slider" data-slider-nav-item="3"></div>
            </div>
          </div>

          <div class="blog-article-layout__block">
            <h5 class="h6 color-primary blog-article-layout__block-title">Абстракция аккаунта для повышения безопасности</h5>

            <p class="blog-article-layout__block-paragraph text-small">
              Абстракция аккаунта может упростить взаимодействие с dApps и 
              пользовательский опыт в web3, но она также обеспечивает 
              повышенную безопасность.
            </p>
            
            <p class="blog-article-layout__block-paragraph text-small">
              Абстракция учетной записи позволяет настроить аккаунты так, чтобы они работали 
              только при выполнении определенных условий, например при достижении 
              количества подписавших. Это кастомизируется для всех учетных записей, 
              поэтому пользователи в этой ситуации могут иметь больше контроля, чем, 
              например, с классической мультиподписью.
              Среди примеров кастомизации - установка лимитов на переводы и 
              мультифакторная аутентификация. Это устраняет имеющуюся сегодня 
              единую точку отказа, когда пользователи могут потерять все, если 
              не будут осторожны.
              Абстракция аккаунта открывает удобство использования без риска для 
              безопасности и еще больше повышает его благодаря адаптируемым опциям.
            </p>
          </div>
        </div>

        <div class="blog-article-layout__content-share">
          <h6 class="h6 color-primary">Поділитися</h6>

          <div class="blog-article-layout__content-share-links">
            <a href="#" class="blog-article-layout__content-share-link color-primary">
              <span class="icon-telegram"></span>
            </a>
            <a href="#" class="blog-article-layout__content-share-link color-primary">
              <span class="icon-instagram"></span>
            </a>
            <a href="#" class="blog-article-layout__content-share-link color-primary">
              <span class="icon-youtube-filled"></span>
            </a>
            <a href="#" class="blog-article-layout__content-share-link color-primary">
              <span class="icon-twitter"></span>
            </a>
          </div>
        </div>

        <div class="blog-article-comments palette palette_hide-mobile">
          <div class="blog-article-comments__header">
            <div class="blog-article-comments__title text-small">16 Comments</div>

            <div class="blog-article-comments__settings">
              <div class="blog-article-comments__settings-item">
                <label>Sort by</label>
              
                <button class="blog-article-comments__sort-button" data-comments-sorter>
                  <span data-comments-sorter-label>Oldest</span>
                  <span class="icon-sort blog-article-comments__sort-button-icon"></span>
                </button>
              </div>
            </div>
          </div>

          <div class="blog-article-comments__compose">
            <img class="blog-article-comments__avatar" src="./assets/img/temp/blog-article-comment-avatar.png">

            <div class="blog-article-comments__textbox">
              <textarea placeholder="Add a comment..." class="blog-article-comments__textarea"></textarea>
              <div class="blog-article-comments__publish">
                <label for="comments-upload" class="blog-article-comments__publish-upload">
                  <input id="comments-upload" type="file">
                  <span class="icon-picture"></span>
                  <div>Фото или видео</div>
                </label>

                <button class="blog-article-comments__send">Post</button>
              </div>
            </div>
          </div>

          <div class="blog-article-comments__list">
            <div class="blog-article-comment">
              <img class="blog-article-comment__avatar" src="./assets/img/temp/blog-article-comment-avatar.png">
              <div class="blog-article-comment__content">
                <div class="text-small color-primary blog-article-comment__name">Courtney Henry</div>
                <div class="text-small blog-article-comment__text">
                  Ultricies ultricies interdum dolor sodales. Vitae feugiat vitae vitae 
                  quis id consectetur. Aenean urna, lectus enim suscipit eget. Tristique bibendum nibh enim dui.
                </div>
                <div class="blog-article-comment__actions">
                  <div class="blog-article-comment__action">Like</div>
                  <div class="blog-article-comment__actions-separator"></div>
                  <div class="blog-article-comment__action">Reply</div>
                  <div class="blog-article-comment__actions-separator"></div>
                  <div class="blog-article-comment__info">20h</div>
                </div>

                <div class="blog-article-comment__replies">
                  <div class="blog-article-comment">
                    <img class="blog-article-comment__avatar" src="./assets/img/temp/blog-article-comment-avatar.png">
                    <div class="blog-article-comment__content">
                      <div class="text-small color-primary blog-article-comment__name">Ronald Richards</div>
                      <div class="text-small blog-article-comment__text">
                        Lorem fringilla pretium magna purus orci faucibus morbi. 
                      </div>
                      <div class="blog-article-comment__actions">
                        <div class="blog-article-comment__action">Like</div>
                        <div class="blog-article-comment__actions-separator"></div>
                        <div class="blog-article-comment__action">Reply</div>
                        <div class="blog-article-comment__actions-separator"></div>
                        <div class="blog-article-comment__info">6h</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="blog-article-comment">
              <img class="blog-article-comment__avatar" src="./assets/img/temp/blog-article-comment-avatar.png">
              <div class="blog-article-comment__content">
                <div class="text-small color-primary blog-article-comment__name">Theresa Webb</div>
                <div class="text-small blog-article-comment__text">
                  Donec sed sed feugiat sit. Enim, urna euismod magna enim. Sit cras eget id 
                  sagittis consequat at.
                </div>
                <div class="blog-article-comment__actions">
                  <div class="blog-article-comment__action">Like</div>
                  <div class="blog-article-comment__actions-separator"></div>
                  <div class="blog-article-comment__action">Reply</div>
                  <div class="blog-article-comment__actions-separator"></div>
                  <div class="blog-article-comment__info">23h</div>
                </div>
              </div>
            </div>
          </div>

          <button class="blog-article-comments__load">
            Load 13 more comments
          </button>
        </div>
      </div>

      <div class="blog-article-layout__sidebar">
        <div class="blog-article-layout__contents palette">
          <h6 class="text color-primary">Содержание</h6>

          <ul class="account-list text-small blog-article-layout__contents-list">
            <li>Общая информация о MEXC</li>
            <li>Общая информация о MEXC</li>
            <li>Общая информация о MEXC</li>
            <li>Общая информация о MEXC</li>
            <li>Общая информация о MEXC</li>
            <li>Общая информация о MEXC</li>
            <li>Общая информация о MEXC</li>
          </ul>
        </div>

        <div class="blog-article-layout__categories">
          <a href="#" class="chip">
            <div class="text chip__text">
              Категория 1
            </div>
          </a>
    
          <a href="#" class="chip">
            <div class="text chip__text">
              Категория 2
            </div>
          </a>
    
          <a href="#" class="chip">
            <div class="text chip__text">
              Категория 3
            </div>
          </a>
    
          <a href="#" class="chip">
            <div class="text chip__text">
              Категория 4
            </div>
          </a>
    
          <a href="#" class="chip">
            <div class="text chip__text">
              Категория 5
            </div>
          </a>
    
          <a href="#" class="chip">
            <div class="text chip__text">
              Категория 6
            </div>
          </a>
    
          <a href="#" class="chip">
            <div class="text chip__text">
              Категория 7
            </div>
          </a>
    
          <a href="#" class="chip">
            <div class="text chip__text">
              Категория 8
            </div>
          </a>
        </div>

        <div class="blog-article-layout__share palette">
          <h6 class="text color-primary">Поділитися</h6>

          <div class="blog-article-layout__share-links">
            <a href="#" class="blog-article-layout__share-link">
              <span class="icon-telegram"></span>
            </a>
            <a href="#" class="blog-article-layout__share-link">
              <span class="icon-instagram"></span>
            </a>
            <a href="#" class="blog-article-layout__share-link">
              <span class="icon-youtube-filled"></span>
            </a>
            <a href="#" class="blog-article-layout__share-link">
              <span class="icon-twitter"></span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="blog-article-page__recommendations-header">
      <h4 class="h4 color-primary blog-article-page__recommendations-title">Наш блог</h4>

      <div class="blog-article-page__recommendations-slider-controls">
        <div class="slider-control slider-control-left" data-slider-for="recommendations-slider" data-slider-control-left>
          <span class="icon-nav-arrow-left"></span>
        </div>
        <div class="slider-control slider-control-right" data-slider-for="recommendations-slider" data-slider-control-right>
          <span class="icon-nav-arrow-right"></span>
        </div>
      </div>
    </div>

    <div class="slider blog-article-page__recommendations" data-slider="recommendations-slider">
      <div class="slider__slides" data-slider-for="recommendations-slider" data-slider-slides>
        <div class="blog-article-card">
          <div class="blog-article-card__image">
            <img src="./assets/img/temp/blog-article-placeholder.png">
          </div>
          <div class="blog-article-card__body">
            <div class="blog-article-card__title text">
              22 идеи подарков для криптоэнтузиаста: для всех праздников и...
            </div>
            <div class="blog-article-card__text text-small">
              Рынки предсказаний стали одним из главных трендов 2024 года. Так, Polymarket удалось привлечь ставок на общую сумму...
            </div>
          </div>
          <div class="blog-article-card__footer">
            <button class="blog-article-card__button text-small">
              Читать статью
            </button>
          </div>
        </div>
  
        <div class="blog-article-card">
          <div class="blog-article-card__image">
            <img src="./assets/img/temp/blog-article-placeholder.png">
          </div>
          <div class="blog-article-card__body">
            <div class="blog-article-card__title text">
              22 идеи подарков для криптоэнтузиаста: для всех праздников и...
            </div>
            <div class="blog-article-card__text text-small">
              Рынки предсказаний стали одним из главных трендов 2024 года. Так, Polymarket удалось привлечь ставок на общую сумму...
            </div>
          </div>
          <div class="blog-article-card__footer">
            <button class="blog-article-card__button text-small">
              Читать статью
            </button>
          </div>
        </div>
  
        <div class="blog-article-card">
          <div class="blog-article-card__image">
            <img src="./assets/img/temp/blog-article-placeholder.png">
          </div>
          <div class="blog-article-card__body">
            <div class="blog-article-card__title text">
              22 идеи подарков для криптоэнтузиаста: для всех праздников и...
            </div>
            <div class="blog-article-card__text text-small">
              Рынки предсказаний стали одним из главных трендов 2024 года. Так, Polymarket удалось привлечь ставок на общую сумму...
            </div>
          </div>
          <div class="blog-article-card__footer">
            <button class="blog-article-card__button text-small">
              Читать статью
            </button>
          </div>
        </div>
  
        <div class="blog-article-card">
          <div class="blog-article-card__image">
            <img src="./assets/img/temp/blog-article-placeholder.png">
          </div>
          <div class="blog-article-card__body">
            <div class="blog-article-card__title text">
              22 идеи подарков для криптоэнтузиаста: для всех праздников и...
            </div>
            <div class="blog-article-card__text text-small">
              Рынки предсказаний стали одним из главных трендов 2024 года. Так, Polymarket удалось привлечь ставок на общую сумму...
            </div>
          </div>
          <div class="blog-article-card__footer">
            <button class="blog-article-card__button text-small">
              Читать статью
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
