---
import Layout from 'src/layouts/Layout.astro'

---
<Layout title="Крипто школа" description="Крипто школа">
  <div class="container container_wide blog__container">
    <div class="breadcrumbs blog__breadcrumbs">
      <a href="/" class="breadcrumbs__link">
        Головна
      </a>
      <div class="breadcrumbs__arrow">
        <span class="icon-nav-arrow-right"></span>
      </div>
      <a href="#" class="breadcrumbs__link breadcrumbs__link_active">
        Блог
      </a>
    </div>

    <h4 class="h4 color-primary blog__title">Наш блог</h4>
  
    <div class="chips blog__chips">
      <a href="#" class="chip">
        <div class="text chip__text">
          Категория 1
        </div>
      </a>

      <a href="#" class="chip">
        <div class="text chip__text">
          Категория 2
        </div>
      </a>

      <a href="#" class="chip">
        <div class="text chip__text">
          Категория 3
        </div>
      </a>

      <a href="#" class="chip">
        <div class="text chip__text">
          Категория 4
        </div>
      </a>

      <a href="#" class="chip">
        <div class="text chip__text">
          Категория 5
        </div>
      </a>

      <a href="#" class="chip">
        <div class="text chip__text">
          Категория 6
        </div>
      </a>

      <a href="#" class="chip">
        <div class="text chip__text">
          Категория 7
        </div>
      </a>

      <a href="#" class="chip">
        <div class="text chip__text">
          Категория 8
        </div>
      </a>
    </div>

    <div class="blog__articles">
      <div class="blog-article-card">
        <div class="blog-article-card__image">
          <img src="./assets/img/temp/blog-article-placeholder.png">
        </div>
        <div class="blog-article-card__body">
          <div class="blog-article-card__title text">
            22 идеи подарков для криптоэнтузиаста: для всех праздников и...
          </div>
          <div class="blog-article-card__text text-small">
            Рынки предсказаний стали одним из главных трендов 2024 года. Так, Polymarket удалось привлечь ставок на общую сумму...
          </div>
        </div>
        <div class="blog-article-card__footer">
          <button class="blog-article-card__button text-small">
            Читать статью
          </button>
        </div>
      </div>

      <div class="blog-article-card">
        <div class="blog-article-card__image">
          <img src="./assets/img/temp/blog-article-placeholder.png">
        </div>
        <div class="blog-article-card__body">
          <div class="blog-article-card__title text">
            22 идеи подарков для криптоэнтузиаста: для всех праздников и...
          </div>
          <div class="blog-article-card__text text-small">
            Рынки предсказаний стали одним из главных трендов 2024 года. Так, Polymarket удалось привлечь ставок на общую сумму...
          </div>
        </div>
        <div class="blog-article-card__footer">
          <button class="blog-article-card__button text-small">
            Читать статью
          </button>
        </div>
      </div>

      <div class="blog-article-card">
        <div class="blog-article-card__image">
          <img src="./assets/img/temp/blog-article-placeholder.png">
        </div>
        <div class="blog-article-card__body">
          <div class="blog-article-card__title text">
            22 идеи подарков для криптоэнтузиаста: для всех праздников и...
          </div>
          <div class="blog-article-card__text text-small">
            Рынки предсказаний стали одним из главных трендов 2024 года. Так, Polymarket удалось привлечь ставок на общую сумму...
          </div>
        </div>
        <div class="blog-article-card__footer">
          <button class="blog-article-card__button text-small">
            Читать статью
          </button>
        </div>
      </div>

      <div class="blog-article-card">
        <div class="blog-article-card__image">
          <img src="./assets/img/temp/blog-article-placeholder.png">
        </div>
        <div class="blog-article-card__body">
          <div class="blog-article-card__title text">
            22 идеи подарков для криптоэнтузиаста: для всех праздников и...
          </div>
          <div class="blog-article-card__text text-small">
            Рынки предсказаний стали одним из главных трендов 2024 года. Так, Polymarket удалось привлечь ставок на общую сумму...
          </div>
        </div>
        <div class="blog-article-card__footer">
          <button class="blog-article-card__button text-small">
            Читать статью
          </button>
        </div>
      </div>

      <div class="blog-article-card">
        <div class="blog-article-card__image">
          <img src="./assets/img/temp/blog-article-placeholder.png">
        </div>
        <div class="blog-article-card__body">
          <div class="blog-article-card__title text">
            22 идеи подарков для криптоэнтузиаста: для всех праздников и...
          </div>
          <div class="blog-article-card__text text-small">
            Рынки предсказаний стали одним из главных трендов 2024 года. Так, Polymarket удалось привлечь ставок на общую сумму...
          </div>
        </div>
        <div class="blog-article-card__footer">
          <button class="blog-article-card__button text-small">
            Читать статью
          </button>
        </div>
      </div>

      <div class="blog-article-card">
        <div class="blog-article-card__image">
          <img src="./assets/img/temp/blog-article-placeholder.png">
        </div>
        <div class="blog-article-card__body">
          <div class="blog-article-card__title text">
            22 идеи подарков для криптоэнтузиаста: для всех праздников и...
          </div>
          <div class="blog-article-card__text text-small">
            Рынки предсказаний стали одним из главных трендов 2024 года. Так, Polymarket удалось привлечь ставок на общую сумму...
          </div>
        </div>
        <div class="blog-article-card__footer">
          <button class="blog-article-card__button text-small">
            Читать статью
          </button>
        </div>
      </div>

      <div class="blog-article-card">
        <div class="blog-article-card__image">
          <img src="./assets/img/temp/blog-article-placeholder.png">
        </div>
        <div class="blog-article-card__body">
          <div class="blog-article-card__title text">
            22 идеи подарков для криптоэнтузиаста: для всех праздников и...
          </div>
          <div class="blog-article-card__text text-small">
            Рынки предсказаний стали одним из главных трендов 2024 года. Так, Polymarket удалось привлечь ставок на общую сумму...
          </div>
        </div>
        <div class="blog-article-card__footer">
          <button class="blog-article-card__button text-small">
            Читать статью
          </button>
        </div>
      </div>

      <div class="blog-article-card">
        <div class="blog-article-card__image">
          <img src="./assets/img/temp/blog-article-placeholder.png">
        </div>
        <div class="blog-article-card__body">
          <div class="blog-article-card__title text">
            22 идеи подарков для криптоэнтузиаста: для всех праздников и...
          </div>
          <div class="blog-article-card__text text-small">
            Рынки предсказаний стали одним из главных трендов 2024 года. Так, Polymarket удалось привлечь ставок на общую сумму...
          </div>
        </div>
        <div class="blog-article-card__footer">
          <button class="blog-article-card__button text-small">
            Читать статью
          </button>
        </div>
      </div>

      <div class="blog-article-card">
        <div class="blog-article-card__image">
          <img src="./assets/img/temp/blog-article-placeholder.png">
        </div>
        <div class="blog-article-card__body">
          <div class="blog-article-card__title text">
            22 идеи подарков для криптоэнтузиаста: для всех праздников и...
          </div>
          <div class="blog-article-card__text text-small">
            Рынки предсказаний стали одним из главных трендов 2024 года. Так, Polymarket удалось привлечь ставок на общую сумму...
          </div>
        </div>
        <div class="blog-article-card__footer">
          <button class="blog-article-card__button text-small">
            Читать статью
          </button>
        </div>
      </div>

      <div class="blog-article-card">
        <div class="blog-article-card__image">
          <img src="./assets/img/temp/blog-article-placeholder.png">
        </div>
        <div class="blog-article-card__body">
          <div class="blog-article-card__title text">
            22 идеи подарков для криптоэнтузиаста: для всех праздников и...
          </div>
          <div class="blog-article-card__text text-small">
            Рынки предсказаний стали одним из главных трендов 2024 года. Так, Polymarket удалось привлечь ставок на общую сумму...
          </div>
        </div>
        <div class="blog-article-card__footer">
          <button class="blog-article-card__button text-small">
            Читать статью
          </button>
        </div>
      </div>

      <div class="blog-article-card">
        <div class="blog-article-card__image">
          <img src="./assets/img/temp/blog-article-placeholder.png">
        </div>
        <div class="blog-article-card__body">
          <div class="blog-article-card__title text">
            22 идеи подарков для криптоэнтузиаста: для всех праздников и...
          </div>
          <div class="blog-article-card__text text-small">
            Рынки предсказаний стали одним из главных трендов 2024 года. Так, Polymarket удалось привлечь ставок на общую сумму...
          </div>
        </div>
        <div class="blog-article-card__footer">
          <button class="blog-article-card__button text-small">
            Читать статью
          </button>
        </div>
      </div>

      <div class="blog-article-card">
        <div class="blog-article-card__image">
          <img src="./assets/img/temp/blog-article-placeholder.png">
        </div>
        <div class="blog-article-card__body">
          <div class="blog-article-card__title text">
            22 идеи подарков для криптоэнтузиаста: для всех праздников и...
          </div>
          <div class="blog-article-card__text text-small">
            Рынки предсказаний стали одним из главных трендов 2024 года. Так, Polymarket удалось привлечь ставок на общую сумму...
          </div>
        </div>
        <div class="blog-article-card__footer">
          <button class="blog-article-card__button text-small">
            Читать статью
          </button>
        </div>
      </div>
    </div>

    <div class="pagination blog__pagination">
      <a href="#" class="pagination__item pagination__item_control pagination__item_control-left">
        <span class="icon-nav-arrow-left"></span>
      </a>
      
      <a href="#" class="pagination__item">1</a>
      <a href="#" class="pagination__item pagination__item_active">2</a>
      <a href="#" class="pagination__item">3</a>
      <a href="#" class="pagination__item">...</a>
      <a href="#" class="pagination__item">24</a>

      <a href="#" class="pagination__item pagination__item_control pagination__item_control-right">
        <span class="icon-nav-arrow-right"></span>
      </a>
    </div>
  </div>
</Layout>
