---
import Layout from 'src/layouts/Layout.astro'

---
<Layout title="Крипто школа" description="Крипто школа">
  <div class="container container_wide categories__container">
    <div class="breadcrumbs categories__breadcrumbs">
      <a href="/" class="breadcrumbs__link">
        Головна
      </a>
      <div class="breadcrumbs__arrow">
        <span class="icon-nav-arrow-right"></span>
      </div>
      <a href="#" class="breadcrumbs__link breadcrumbs__link_active">
        Категория глоссария
      </a>
    </div>

    <h4 class="h4 color-primary categories__title">Категория глоссария</h4>

    <div class="categories-list">
      <div class="categories-list__header">
        <div class="categories-list__search"></div>

        <div class="categories-list__links">
          <a href="#" class="categories-list__link">#</a>
          <a href="#" class="categories-list__link">A</a>
        </div>
      </div>
    </div>
  </div>
</Layout>
