---
import Layout from 'src/layouts/Layout.astro'

---
<Layout title="Крипто школа" description="Крипто школа">
  <div class="container categories__container">
    <div class="breadcrumbs categories__breadcrumbs">
      <a href="/" class="breadcrumbs__link">
        Головна
      </a>
      <div class="breadcrumbs__arrow">
        <span class="icon-nav-arrow-right"></span>
      </div>
      <a href="#" class="breadcrumbs__link breadcrumbs__link_active">
        Категория глоссария
      </a>
    </div>

    <h4 class="h4 color-primary categories__title">Категория глоссария</h4>

    <div class="palette palette_blurred categories-list">
      <div class="categories-list__header">
        <div class="categories-list__search"></div>

        <div class="categories-list__links">
          <a href="#" class="text categories-list__link">#</a>
          <a href="#" class="text categories-list__link categories-list__link_active">A</a>
          <a href="#" class="text categories-list__link">B</a>
          <a href="#" class="text categories-list__link">C</a>
          <a href="#" class="text categories-list__link">D</a>
          <a href="#" class="text categories-list__link">E</a>
          <a href="#" class="text categories-list__link">F</a>
          <a href="#" class="text categories-list__link">G</a>
          <a href="#" class="text categories-list__link">H</a>
          <a href="#" class="text categories-list__link">I</a>
          <a href="#" class="text categories-list__link">J</a>
          <a href="#" class="text categories-list__link">K</a>
          <a href="#" class="text categories-list__link">L</a>
          <a href="#" class="text categories-list__link">M</a>
          <a href="#" class="text categories-list__link">N</a>
          <a href="#" class="text categories-list__link">O</a>
          <a href="#" class="text categories-list__link">P</a>
          <a href="#" class="text categories-list__link">Q</a>
          <a href="#" class="text categories-list__link">R</a>
          <a href="#" class="text categories-list__link">S</a>
          <a href="#" class="text categories-list__link">T</a>
          <a href="#" class="text categories-list__link">U</a>
          <a href="#" class="text categories-list__link">V</a>
          <a href="#" class="text categories-list__link">W</a>
          <a href="#" class="text categories-list__link">X</a>
          <a href="#" class="text categories-list__link">Y</a>
          <a href="#" class="text categories-list__link">Z</a>
        </div>
      </div>

      <div class="categories-list__content">
        <div class="categories-list__section">
          <div class="categories-list__section-letter h1">#</div>
          <div class="categories-list__section-content">
            <div class="categories-list__section-row">
              <div class="categories-list__section-row-title h4">0x Protocol</div>
              <div class="categories-list__section-row-text text">
                0x is an Ethereum-based open-source platform for exchanging 
                cryptocurrencies. It allows for the creation of features in 
                a decentralized exchange (DEX), a wallet or a marketplace.
              </div>
            </div>

            <div class="categories-list__section-row">
              <div class="categories-list__section-row-title h4">0x Protocol</div>
              <div class="categories-list__section-row-text text">
                0x is an Ethereum-based open-source platform for exchanging 
                cryptocurrencies. It allows for the creation of features in 
                a decentralized exchange (DEX), a wallet or a marketplace.
              </div>
            </div>

            <div class="categories-list__section-row">
              <div class="categories-list__section-row-title h4">0x Protocol</div>
              <div class="categories-list__section-row-text text">
                0x is an Ethereum-based open-source platform for exchanging 
                cryptocurrencies. It allows for the creation of features in 
                a decentralized exchange (DEX), a wallet or a marketplace.
              </div>
            </div>
          </div>
        </div>

        <div class="categories-list__section">
          <div class="categories-list__section-letter h1">A</div>
          <div class="categories-list__section-content">
            <div class="categories-list__section-row">
              <div class="categories-list__section-row-title h4">Abenomics</div>
              <div class="categories-list__section-row-text text">
                0x is an Ethereum-based open-source platform for exchanging 
                cryptocurrencies. It allows for the creation of features in 
                a decentralized exchange (DEX), a wallet or a marketplace.
              </div>
            </div>

            <div class="categories-list__section-row">
              <div class="categories-list__section-row-title h4">Abenomics</div>
              <div class="categories-list__section-row-text text">
                0x is an Ethereum-based open-source platform for exchanging 
                cryptocurrencies. It allows for the creation of features in 
                a decentralized exchange (DEX), a wallet or a marketplace.
              </div>
            </div>

            <div class="categories-list__section-row">
              <div class="categories-list__section-row-title h4">Abenomics</div>
              <div class="categories-list__section-row-text text">
                0x is an Ethereum-based open-source platform for exchanging 
                cryptocurrencies. It allows for the creation of features in 
                a decentralized exchange (DEX), a wallet or a marketplace.
              </div>
            </div>

            <div class="categories-list__section-row">
              <div class="categories-list__section-row-title h4">Abenomics</div>
              <div class="categories-list__section-row-text text">
                0x is an Ethereum-based open-source platform for exchanging 
                cryptocurrencies. It allows for the creation of features in 
                a decentralized exchange (DEX), a wallet or a marketplace.
              </div>
            </div>
          </div>
        </div>

        <div class="categories-list__section">
          <div class="categories-list__section-letter h1">B</div>
          <div class="categories-list__section-content">
            <div class="categories-list__section-row">
              <div class="categories-list__section-row-title h4">Abenomics</div>
              <div class="categories-list__section-row-text text">
                0x is an Ethereum-based open-source platform for exchanging 
                cryptocurrencies. It allows for the creation of features in 
                a decentralized exchange (DEX), a wallet or a marketplace.
              </div>
            </div>

            <div class="categories-list__section-row">
              <div class="categories-list__section-row-title h4">Abenomics</div>
              <div class="categories-list__section-row-text text">
                0x is an Ethereum-based open-source platform for exchanging 
                cryptocurrencies. It allows for the creation of features in 
                a decentralized exchange (DEX), a wallet or a marketplace.
              </div>
            </div>

            <div class="categories-list__section-row">
              <div class="categories-list__section-row-title h4">Abenomics</div>
              <div class="categories-list__section-row-text text">
                0x is an Ethereum-based open-source platform for exchanging 
                cryptocurrencies. It allows for the creation of features in 
                a decentralized exchange (DEX), a wallet or a marketplace.
              </div>
            </div>

            <div class="categories-list__section-row">
              <div class="categories-list__section-row-title h4">Abenomics</div>
              <div class="categories-list__section-row-text text">
                0x is an Ethereum-based open-source platform for exchanging 
                cryptocurrencies. It allows for the creation of features in 
                a decentralized exchange (DEX), a wallet or a marketplace.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
