---
import Button from 'src/components/basic/Button.astro'
import Layout from 'src/layouts/Layout.astro'

---
<Layout title="Крипто школа" description="Крипто школа">
  <div class="container container_wide community__container">
    <div class="community__hero">
      <div class="community__hero-content">
        <h1 class="h0 color-primary community__hero-title">
          Інвест-ідеї, гайди, ком'юніті однодумців, та підтримка нашої команди
        </h1>
        <p class="text community__hero-text">
          Ми допоможемо тобі зануритись в світ крипто-активностей
        </p>
        <Button filled big>
          <span class="button__text button__text_uppercase">Обрати Тариф</span>
        </Button>
      </div>

      <div class="community__hero-decor community__hero-nft-1">
        <img src="./assets/img/community/community-hero-nft-1.png">
      </div>
      <div class="community__hero-decor community__hero-nft-2">
        <img src="./assets/img/community/community-hero-nft-2.png">
      </div>
      <div class="community__hero-decor community__hero-glass-1">
        <img src="./assets/img/community/community-hero-glass-1.png">
      </div>
      <div class="community__hero-decor community__hero-glass-2">
        <img src="./assets/img/community/community-hero-glass-2.png">
      </div>
    </div>

    <div class="community__flow">
      <img class="community__flow_light" src="./assets/img/community/community-flow-light.png">
      <img class="community__flow_dark" src="./assets/img/community/community-flow-dark.png">
    </div>

    <div class="community-chats community__chats">
      <h4 class="h4 color-primary community-chats__title">
        Телеграм-чати, Дискорд-канали, та великий сайт з корисним контентом для вас
      </h4>

      <div class="community-chats__cards">
        <div class="community-chats__card">
          <img src="./assets/img/community/chats-decor-1.png" class="community-chats-decor-1" />

          <div class="community-chats__card-icon">
            <span class="icon-telegram"></span>
          </div>
          <h6 class="h6 community-chats__card-title">Телеграм-чати</h6>
          <div class="text-small community-chats__card-text">
            Залиш заявку на сайті і ми звʼяжемось з тобою щоб надати найкращі умови
          </div>
          <Button block centered white rounded>
            <span class="button__text">Приєднається</span>
          </Button>
        </div>

        <div class="community-chats__card">
          <div class="community-chats__card-icon">
            <span class="icon-discord"></span>
          </div>
          <h6 class="h6 community-chats__card-title">Дискорд-канали</h6>
          <div class="text-small community-chats__card-text">
            Залиш заявку на сайті і ми звʼяжемось з тобою щоб надати найкращі умови
          </div>
          <Button block centered white rounded>
            <span class="button__text">Приєднається</span>
          </Button>
        </div>

        <div class="community-chats__card">
          <img src="./assets/img/community/chats-decor-2.png" class="community-chats-decor-2" />

          <div class="community-chats__card-icon">
            <span class="icon-link"></span>
          </div>
          <h6 class="h6 community-chats__card-title">Наш сайт</h6>
          <div class="text-small community-chats__card-text">
            Залиш заявку на сайті і ми звʼяжемось з тобою щоб надати найкращі умови
          </div>
          <Button block centered white rounded>
            <span class="button__text">Приєднається</span>
          </Button>
        </div>
      </div>
    </div>

    <div class="faq">
      <div class="faq__title h4 color-primary">Відповіді на запитання</div>

      <div class="faq__content">
        <div class="palette palette_blurred faq-item" data-faq-item>
          <div class="faq-item__header" data-faq-item-toggler>
            <div class="text color-primary">Я новачок, чи підійде мені SQUAD?</div>
            <div class="faq-item__toggler"></div>
          </div>
          <div class="faq-item__content">
            <div class="text-small">
              Задача нашого продукту - дати максимальну користь користувачам 
              з різним рівнем знань та депозиту.
            </div>
          </div>
        </div>

        <div class="palette palette_blurred faq-item" data-faq-item>
          <div class="faq-item__header" data-faq-item-toggler>
            <div class="text color-primary">Я новачок, чи підійде мені SQUAD?</div>
            <div class="faq-item__toggler"></div>
          </div>
          <div class="faq-item__content">
            <div class="text-small">
              Задача нашого продукту - дати максимальну користь користувачам 
              з різним рівнем знань та депозиту.
            </div>
          </div>
        </div>

        <div class="palette palette_blurred faq-item" data-faq-item>
          <div class="faq-item__header" data-faq-item-toggler>
            <div class="text color-primary">Я новачок, чи підійде мені SQUAD?</div>
            <div class="faq-item__toggler"></div>
          </div>
          <div class="faq-item__content">
            <div class="text-small">
              Задача нашого продукту - дати максимальну користь користувачам 
              з різним рівнем знань та депозиту.
            </div>
          </div>
        </div>

        <div class="palette palette_blurred faq-item" data-faq-item>
          <div class="faq-item__header" data-faq-item-toggler>
            <div class="text color-primary">Я новачок, чи підійде мені SQUAD?</div>
            <div class="faq-item__toggler"></div>
          </div>
          <div class="faq-item__content">
            <div class="text-small">
              Задача нашого продукту - дати максимальну користь користувачам 
              з різним рівнем знань та депозиту.
            </div>
          </div>
        </div>

        <div class="palette palette_blurred faq-item" data-faq-item>
          <div class="faq-item__header" data-faq-item-toggler>
            <div class="text color-primary">Я новачок, чи підійде мені SQUAD?</div>
            <div class="faq-item__toggler"></div>
          </div>
          <div class="faq-item__content">
            <div class="text-small">
              Задача нашого продукту - дати максимальну користь користувачам 
              з різним рівнем знань та депозиту.
            </div>
          </div>
        </div>

        <div class="palette palette_blurred faq-item" data-faq-item>
          <div class="faq-item__header" data-faq-item-toggler>
            <div class="text color-primary">Я новачок, чи підійде мені SQUAD?</div>
            <div class="faq-item__toggler"></div>
          </div>
          <div class="faq-item__content">
            <div class="text-small">
              Задача нашого продукту - дати максимальну користь користувачам 
              з різним рівнем знань та депозиту.
            </div>
          </div>
        </div>

        <div class="palette palette_blurred faq-item" data-faq-item>
          <div class="faq-item__header" data-faq-item-toggler>
            <div class="text color-primary">Я новачок, чи підійде мені SQUAD?</div>
            <div class="faq-item__toggler"></div>
          </div>
          <div class="faq-item__content">
            <div class="text-small">
              Задача нашого продукту - дати максимальну користь користувачам 
              з різним рівнем знань та депозиту.
            </div>
          </div>
        </div>

        <div class="palette palette_blurred faq-item" data-faq-item>
          <div class="faq-item__header" data-faq-item-toggler>
            <div class="text color-primary">Я новачок, чи підійде мені SQUAD?</div>
            <div class="faq-item__toggler"></div>
          </div>
          <div class="faq-item__content">
            <div class="text-small">
              Задача нашого продукту - дати максимальну користь користувачам 
              з різним рівнем знань та депозиту.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
