---
import AccountMenu from 'src/components/AccountMenu.astro'
import AccountMore from 'src/components/basic/AccountMore.astro'
import Button from 'src/components/basic/Button.astro'
import Layout from 'src/layouts/Layout.astro'

---
<Layout title="Крипто школа" description="Крипто школа">
  <div class="container courses__container">
    <div class="hide-mobile">
      <AccountMenu horizontal />
    </div>

    <div class="account-block palette courses__block">
      <h5 class="h5 color-primary account-block__title">Наши курси</h5>

      <hr class="account-block__horizontal-row">

      <div class="courses__list">
        <div class="course-card course-card_done">
          <div class="course-card__header">
            <div class="text-small course-card__badge">Пройдено</div>
            <img class="course-card__image" src="./assets/img/temp/course-card-illustration.png">
          </div>
          <div class="course-card__body">
            <div class="h6 course-card__title">Основи</div>
            <ul class="text-small course-card__list">
              <li>Знакомство с нами</li>
              <li>Що таке крипта</li>
              <li>Что такое блокчейн?</li>
              <li>Токены и монеты — в чем разница?</li>
              <li>Експлорер</li>
            </ul>
            <div class="course-card__ellipsis text-small">...</div>
          </div>
          <div class="course-card__footer">
            <Button block filled rounded centered>
              <span class="button__text">Зайти в курс</span>
            </Button>
          </div>
        </div>

        <div class="course-card course-card_done">
          <div class="course-card__header">
            <div class="course-card__badge">Пройдено</div>
            <img class="course-card__image" src="./assets/img/temp/course-card-illustration.png">
          </div>
          <div class="course-card__body">
            <div class="h6 course-card__title">Діскрод і ТГ</div>
            <ul class="text-small course-card__list">
              <li>Введение в Discord и поддержка</li>
              <li>Телеграм бот и ветки</li>
            </ul>
            <div class="course-card__ellipsis text-small">...</div>
          </div>
          <div class="course-card__footer">
            <Button block filled rounded centered>
              <span class="button__text">Зайти в курс</span>
            </Button>
          </div>
        </div>

        <div class="course-card">
          <div class="course-card__header">
            <img class="course-card__image" src="./assets/img/temp/course-card-illustration.png">
          </div>
          <div class="course-card__body">
            <div class="h6 course-card__title">CEX</div>
            <ul class="text-small course-card__list">
              <li>Робота із Біржами</li>
              <li>Что такое биржа и как она работает?</li>
              <li>Как зарегистрироваться на бирже?</li>
              <li>Как купить первую крипту? п2п + кантор</li>
              <li>Основы спотовой торговли</li>
              <li>Фючерсы</li>
              <li>Риск-менеджмент в торговле</li>
            </ul>
            <div class="course-card__ellipsis text-small">...</div>
          </div>
          <div class="course-card__footer">
            <Button block filled rounded centered>
              <span class="button__text">Зайти в курс</span>
            </Button>
          </div>
        </div>

        <div class="course-card course-card_locked">
          <div class="course-card__header">
            <img class="course-card__image" src="./assets/img/temp/course-card-illustration.png">
          </div>
          <div class="course-card__body">
            <div class="h6 course-card__title">Кошельки</div>
            <ul class="text-small course-card__list">
              <li>Создание криптокошелька</li>
              <li>Безопасность</li> 
              <li>Вывод токенов на кошелек, перевод между кошельками</li>
              <li>Трасті</li>
            </ul>
            <div class="course-card__ellipsis text-small">...</div>
          </div>
          <div class="course-card__footer">
            <Button block filled rounded centered disabled>
              <span class="button__text">Зайти в курс</span>
            </Button>
          </div>
        </div>

        <div class="course-card course-card_locked">
          <div class="course-card__header">
            <div class="course-card__badge">Пройдено</div>
            <img class="course-card__image" src="./assets/img/temp/course-card-illustration.png">
          </div>
          <div class="course-card__body">
            <div class="h6 course-card__title">DEFI</div>
            <ul class="text-small course-card__list">
              <li>Что такое DeFi?</li>
              <li>Лендінг  і позики в крипті</li>
              <li>Основы стейкинга</li>
              <li>Бріджи и межсетевые операции</li>
              <li>Что такое ЛП та фармінг</li>
              <li>Хедж</li>
              <li>Інструменти в крипті</li>
            </ul>
            <div class="course-card__ellipsis text-small">...</div>
          </div>
          <div class="course-card__footer">
            <Button block filled rounded centered disabled>
              <span class="button__text">Зайти в курс</span>
            </Button>
          </div>
        </div>
      </div>
    </div>

    <div class="account-block palette">
      <h5 class="account-block__title text">Останні завданя</h5>

      <hr class="account-block__horizontal-row">

      <div class="account-block__tabs hide-tablet hide-mobile">
        <a href="#" class="account-block__tab text-small account-block__tab_active">Уcі</a>
        <a href="#" class="account-block__tab text-small">Активні</a>       
        <a href="#" class="account-block__tab text-small">Виконані</a>       
        <a href="#" class="account-block__tab text-small">На перевірці</a>        
        <a href="#" class="account-block__tab text-small">Доопрацювати</a>
      </div>
  
      <div class="account-last-tasks__items">  
        <div class="status-line palette palette_hoverable account-last-tasks-item">
          <div class="status-line-indicator status-line-indicator_orange"></div>
          <div class="account-last-tasks-item__body">
            <div class="account-last-tasks-item__content">
              <div class="account-last-tasks-item__pretitle text-small color-primary">
                Поток Crypto education Factory от Crypto |  Sjft  | Tools
              </div>
              <h6 class="account-last-tasks-item__title text">DEX  обзор universety tools</h6>
              <div class="account-last-tasks-item__subtitle text-small">
                Відкритий
              </div>
            </div>
  
            <div class="account-last-tasks-item__details">
              <div class="text-small account-last-tasks-item__amount">+5</div>
              <button class="account-last-tasks-item__link">
                <span class="icon-play-triangle-right"></span>
              </button>
            </div>
          </div>
        </div>
  
        <div class="status-line palette palette_hoverable account-last-tasks-item">
          <div class="status-line-indicator status-line-indicator_orange"></div>
          <div class="account-last-tasks-item__body">
            <div class="account-last-tasks-item__content">
              <div class="account-last-tasks-item__pretitle text-small color-primary">
                Поток Crypto education Factory от Crypto |  Sjft  | Tools
              </div>
              <h6 class="account-last-tasks-item__title text">DEX  обзор universety tools</h6>
              <div class="account-last-tasks-item__subtitle text-small">
                Відкритий
              </div>
            </div>
  
            <div class="account-last-tasks-item__details">
              <div class="text-small account-last-tasks-item__amount">+5</div>
              <button class="account-last-tasks-item__link">
                <span class="icon-play-triangle-right"></span>
              </button>
            </div>
          </div>
        </div>

        <div class="status-line palette palette_hoverable account-last-tasks-item">
          <div class="status-line-indicator status-line-indicator_orange"></div>
          <div class="account-last-tasks-item__body">
            <div class="account-last-tasks-item__content">
              <div class="account-last-tasks-item__pretitle text-small color-primary">
                Поток Crypto education Factory от Crypto |  Sjft  | Tools
              </div>
              <h6 class="account-last-tasks-item__title text">DEX  обзор universety tools</h6>
              <div class="account-last-tasks-item__subtitle text-small">
                Відкритий
              </div>
            </div>
  
            <div class="account-last-tasks-item__details">
              <div class="text-small account-last-tasks-item__amount">+5</div>
              <button class="account-last-tasks-item__link">
                <span class="icon-play-triangle-right"></span>
              </button>
            </div>
          </div>
        </div>

        <div class="status-line palette palette_hoverable account-last-tasks-item">
          <div class="status-line-indicator status-line-indicator_orange"></div>
          <div class="account-last-tasks-item__body">
            <div class="account-last-tasks-item__content">
              <div class="account-last-tasks-item__pretitle text-small color-primary">
                Поток Crypto education Factory от Crypto |  Sjft  | Tools
              </div>
              <h6 class="account-last-tasks-item__title text">DEX  обзор universety tools</h6>
              <div class="account-last-tasks-item__subtitle text-small">
                Відкритий
              </div>
            </div>
  
            <div class="account-last-tasks-item__details">
              <div class="text-small account-last-tasks-item__amount">+5</div>
              <button class="account-last-tasks-item__link">
                <span class="icon-play-triangle-right"></span>
              </button>
            </div>
          </div>
        </div>

        <div class="status-line palette palette_hoverable account-last-tasks-item">
          <div class="status-line-indicator status-line-indicator_orange"></div>
          <div class="account-last-tasks-item__body">
            <div class="account-last-tasks-item__content">
              <div class="account-last-tasks-item__pretitle text-small color-primary">
                Поток Crypto education Factory от Crypto |  Sjft  | Tools
              </div>
              <h6 class="account-last-tasks-item__title text">DEX  обзор universety tools</h6>
              <div class="account-last-tasks-item__subtitle text-small">
                Відкритий
              </div>
            </div>
  
            <div class="account-last-tasks-item__details">
              <div class="text-small account-last-tasks-item__amount">+5</div>
              <button class="account-last-tasks-item__link">
                <span class="icon-play-triangle-right"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
  
      <AccountMore />
    </div>
  </div>
</Layout>
