---
import AccountLayout from 'src/layouts/AccountLayout.astro'
import AccountGreeting from 'src/components/AccountGreeting.astro'
import AccountMenu from 'src/components/AccountMenu.astro'
import AccountMore from 'src/components/basic/AccountMore.astro'
import Layout from 'src/layouts/Layout.astro'

---
<Layout title="Крипто школа" description="Крипто школа">
  <div class="container">
    <AccountLayout>
      <AccountMenu slot="sidebar-top" />

      <div class="account-block palette palette_blurred account-rating" slot="sidebar-bottom">
        <h5 class="account-block__title">
          <span class="icon icon-thunder"></span>
          <span class="text">Рейтинг</span>
        </h5>

        <table class="account-table account-rating-table">
          <thead class="account-table-head">
            <td class="account-table-head__column">Місце</td>
            <td class="account-table-head__column">Імя та призвище</td>
            <td class="account-table-head__column">Creoin</td>
          </thead>
          <tbody class="account-table-body">
            <tr class="account-table-body__item account-table-body__item_plain account-table-body__item_hoverable account-table-body__item_clickable">
              <td class="account-table-body__column text-small color-primary">1</td>
              <td class="account-table-body__column text-small">danicon01</td>
              <td class="account-table-body__column">
                <span class="text-small">+5</span>
                <img src="./assets/img/shared/star.svg">
              </td>
            </tr>
            <tr class="account-table-body__item account-table-body__item_plain account-table-body__item_hoverable account-table-body__item_clickable">
              <td class="account-table-body__column text-small color-primary">2</td>
              <td class="account-table-body__column text-small">danicon01</td>
              <td class="account-table-body__column">
                <span class="text-small">+5</span>
                <img src="./assets/img/shared/star.svg">
              </td>
            </tr>
            <tr class="account-table-body__item account-table-body__item_plain account-table-body__item_hoverable account-table-body__item_clickable">
              <td class="account-table-body__column text-small color-primary">3</td>
              <td class="account-table-body__column text-small">danicon01</td>
              <td class="account-table-body__column">
                <span class="text-small">+5</span>
                <img src="./assets/img/shared/star.svg">
              </td>
            </tr>
            <tr class="account-table-body__item account-table-body__item_plain account-table-body__item_hoverable account-table-body__item_clickable">
              <td class="account-table-body__column text-small color-primary">4</td>
              <td class="account-table-body__column text-small">danicon01</td>
              <td class="account-table-body__column">
                <span class="text-small">+5</span>
                <img src="./assets/img/shared/star.svg">
              </td>
            </tr>
          </tbody>
        </table>

        <AccountMore />
      </div>

      <AccountGreeting
        title='Привіт, Володимір' 
        slot="center-top" 
      />

      <Fragment slot="center-bottom">
        <div class="account-block palette palette_blurred account-statistics">
          <div class="account-statistics-item">
            <div class="account-statistics-item__icon">
              <img src="./assets/img/shared/star.svg" alt="">
            </div>
            <h5 class="account-statistics-item__value h5 color-primary">341</h5>
            <div class="account-statistics-item__description text-small">Отримано поінтів</div>
          </div>
    
          <div class="account-statistics-item">
            <div class="account-statistics-item__icon">
              <img src="./assets/img/dashboard/statistics-calendar.svg" alt="">
            </div>
            <h5 class="account-statistics-item__value h5 color-primary">304</h5>
            <div class="account-statistics-item__description text-small">Днів на проєкті</div>
          </div>
    
          <div class="account-statistics-item">
            <div class="account-statistics-item__icon">
              <img src="./assets/img/dashboard/statistics-profit.svg" alt="">
            </div>
            <h5 class="account-statistics-item__value h5 color-primary">6</h5>
            <div class="account-statistics-item__description text-small">Місце в рейтингу</div>
          </div>
        </div>

        <div class="account-block palette palette_blurred">
          <h5 class="account-block__title text">Останні завданя</h5>
      
          <div class="account-last-tasks__items">
            <div class="status-line palette palette_blurred palette_hoverable account-last-tasks-item account-last-tasks-item_minimal">
              <div class="status-line-indicator status-line-indicator_green"></div>
              <div class="account-last-tasks-item__body">
                <div class="account-last-tasks-item__content">
                  <h6 class="account-last-tasks-item__title text">Відкритий</h6>
                </div>
      
                <div class="account-last-tasks-item__details">
                  <div class="text-small account-last-tasks-item__amount">+5</div>
                  <button class="account-last-tasks-item__link">
                    <span class="icon-play-triangle-right"></span>
                  </button>
                </div>
              </div>
            </div>
      
            <div class="status-line palette palette_blurred palette_hoverable account-last-tasks-item">
              <div class="status-line-indicator status-line-indicator_orange"></div>
              <div class="account-last-tasks-item__body">
                <div class="account-last-tasks-item__content">
                  <div class="account-last-tasks-item__pretitle text-small color-primary">
                    Поток Crypto education Factory от Crypto |  Sjft  | Tools
                  </div>
                  <h6 class="account-last-tasks-item__title text">DEX  обзор universety tools</h6>
                  <div class="account-last-tasks-item__subtitle text-small">
                    Відкритий
                  </div>
                </div>
      
                <div class="account-last-tasks-item__details">
                  <div class="text-small account-last-tasks-item__amount">+5</div>
                  <button class="account-last-tasks-item__link">
                    <span class="icon-play-triangle-right"></span>
                  </button>
                </div>
              </div>
            </div>
      
            <div class="status-line palette palette_blurred palette_hoverable account-last-tasks-item">
              <div class="status-line-indicator status-line-indicator_red"></div>
              <div class="account-last-tasks-item__body">
                <div class="account-last-tasks-item__content">
                  <div class="account-last-tasks-item__pretitle text-small color-primary">
                    Поток Crypto education Factory от Crypto |  Sjft  | Tools
                  </div>
                  <h6 class="account-last-tasks-item__title text">DEX  обзор universety tools</h6>
                  <div class="account-last-tasks-item__subtitle text-small">
                    Закрытый
                  </div>
                </div>
      
                <div class="account-last-tasks-item__details">
                  <div class="text-small account-last-tasks-item__amount">+5</div>
                  <button class="account-last-tasks-item__link">
                    <span class="icon-play-triangle-right"></span>
                  </button>
                </div>
              </div>
            </div>
      
            <div class="status-line palette palette_blurred palette_hoverable account-last-tasks-item">
              <div class="status-line-indicator status-line-indicator_red"></div>
              <div class="account-last-tasks-item__body">
                <div class="account-last-tasks-item__content">
                  <div class="account-last-tasks-item__pretitle text-small color-primary">
                    Поток Crypto education Factory от Crypto |  Sjft  | Tools
                  </div>
                  <h6 class="account-last-tasks-item__title text">DEX  обзор universety tools</h6>
                  <div class="account-last-tasks-item__subtitle text-small">
                    Закрытый
                  </div>
                </div>
      
                <div class="account-last-tasks-item__details">
                  <div class="text-small account-last-tasks-item__amount">+5</div>
                  <button class="account-last-tasks-item__link">
                    <span class="icon-play-triangle-right"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
      
          <AccountMore />
        </div>
      </Fragment>
    </AccountLayout>
  </div>
</Layout>
