---
import Button from 'src/components/basic/Button.astro'
import Layout from 'src/layouts/Layout.astro'

---
<Layout title="Крипто школа" description="Крипто школа">
  <div class="container">
    <div class="account-layout">
      <div class="account-layout-column account-layout-sidebar">
        <div class="account-layout-column-slice account-layout-sidebar__top">
          <div class="account-menu">
            <div class="account-info">
              <div class="account-info-avatar">
                <div class="account-info-avatar__circle">
                  <span class="icon-profile"></span>
                </div>
              </div>
              <div class="account-info__content">
                <div class="account-info-lessons">
                  <div class="account-info-lessons-icon">
                    <span class="icon-videos"></span>
                  </div>
                  <div class="account-info-lessons__amount text-small">12 уроків</div>
                </div>
                <div class="account-info__name text">Володимір</div>
              </div>
            </div>
      
            <div class="account-menu-item account-menu-item_active">
              <div class="account-menu-item__icon">
                <span class="icon-dashboard"></span>
              </div>
      
              <div class="account-menu-item__name text">Dashboard</div>
            </div>
      
            <div class="account-menu-item">
              <div class="account-menu-item__icon">
                <span class="icon-video-play"></span>
              </div>
      
              <div class="account-menu-item__name text">Навчання</div>
            </div>
      
            <div class="account-menu-item">
              <div class="account-menu-item__icon">
                <span class="icon-rate"></span>
              </div>
      
              <div class="account-menu-item__name text">Мій тариф</div>
            </div>
      
            <div class="account-menu-item">
              <div class="account-menu-item__icon">
                <span class="icon-referral"></span>
              </div>
      
              <div class="account-menu-item__name text">Реферальна програма</div>
            </div>
      
            <div class="account-menu-item">
              <div class="account-menu-item__icon">
                <span class="icon-settings"></span>
              </div>
      
              <div class="account-menu-item__name text">Налаштування</div>
            </div>
      
            <div class="account-menu-item">
              <div class="account-menu-item__icon">
                <span class="icon-exit"></span>
              </div>
      
              <div class="account-menu-item__name text">Вийти</div>
            </div>
          </div>
        </div>

        <div class="account-layout-column-slice account-layout-sidebar__bottom"></div>
      </div>

      <div class="account-layout-column account-layout-center">
        <div class="account-layout-column-slice account-layout-center__top">
          <div class="account-greeting">
            <div class="account-greeting__left">
              <div class="account-greeting__date text">Четвер, 05 Грудня</div>
              <h5 class="account-greeting__name h5">Привіт, Володимір</h5>
            </div>
      
            <div class="account-greeting-payment">
              <div class="account-greeting-payment__title text-small">
                Передплата діє до 8 січня 2025 р.
              </div>
              
              <Button small white>
                <span class="button__text">Продлити</span>
              </Button>
            </div>
          </div>
        </div>

        <div class="account-layout-column-slice account-layout-center-bottom">
          <div class="account-block account-statistics">
            <div class="account-statistics-item">
              <div class="account-statistics-item__icon">
                <img src="./assets/img/dashboard/statistics-star.svg" alt="">
              </div>
              <h5 class="account-statistics-item__value h5">341</h5>
              <div class="account-statistics-item__description text-small">Отримано поінтів</div>
            </div>
      
            <div class="account-statistics-item">
              <div class="account-statistics-item__icon">
                <img src="./assets/img/dashboard/statistics-calendar.svg" alt="">
              </div>
              <h5 class="account-statistics-item__value h5">304</h5>
              <div class="account-statistics-item__description text-small">Днів на проєкті</div>
            </div>
      
            <div class="account-statistics-item">
              <div class="account-statistics-item__icon">
                <img src="./assets/img/dashboard/statistics-profit.svg" alt="">
              </div>
              <h5 class="account-statistics-item__value h5">6</h5>
              <div class="account-statistics-item__description text-small">Місце в рейтингу</div>
            </div>
          </div>

          <div class="account-block">
            <h5 class="account-block__title text">Останні завданя</h5>
        
            <div class="account-last-tasks__items">
              <div class="status-line account-last-tasks-item account-last-tasks-item_minimal">
                <div class="status-line-indicator status-line-indicator_green"></div>
                <div class="account-last-tasks-item__body">
                  <div class="account-last-tasks-item__content">
                    <h6 class="account-last-tasks-item__title text">Відкритий</h6>
                  </div>
        
                  <div class="account-last-tasks-item__details">
                    <div class="account-last-tasks-item__amount">+5</div>
                    <div class="account-last-tasks-item__link">
                      <span class="icon-play-triangle-right"></span>
                    </div>
                  </div>
                </div>
              </div>
        
              <div class="status-line account-last-tasks-item">
                <div class="status-line-indicator status-line-indicator_orange"></div>
                <div class="account-last-tasks-item__body">
                  <div class="account-last-tasks-item__content">
                    <div class="account-last-tasks-item__pretitle text-small">
                      Поток Crypto education Factory от Crypto |  Sjft  | Tools
                    </div>
                    <h6 class="account-last-tasks-item__title text">DEX  обзор universety tools</h6>
                    <div class="account-last-tasks-item__subtitle text-small">
                      Відкритий
                    </div>
                  </div>
        
                  <div class="account-last-tasks-item__details">
                    <div class="account-last-tasks-item__amount">+5</div>
                    <div class="account-last-tasks-item__link">
                      <span class="icon-play-triangle-right"></span>
                    </div>
                  </div>
                </div>
              </div>
        
              <div class="status-line account-last-tasks-item">
                <div class="status-line-indicator status-line-indicator_red"></div>
                <div class="account-last-tasks-item__body">
                  <div class="account-last-tasks-item__content">
                    <div class="account-last-tasks-item__pretitle text-small">
                      Поток Crypto education Factory от Crypto |  Sjft  | Tools
                    </div>
                    <h6 class="account-last-tasks-item__title text">DEX  обзор universety tools</h6>
                    <div class="account-last-tasks-item__subtitle text-small">
                      Закрытый
                    </div>
                  </div>
        
                  <div class="account-last-tasks-item__details">
                    <div class="account-last-tasks-item__amount">+5</div>
                    <div class="account-last-tasks-item__link">
                      <span class="icon-play-triangle-right"></span>
                    </div>
                  </div>
                </div>
              </div>
        
              <div class="status-line account-last-tasks-item">
                <div class="status-line-indicator status-line-indicator_red"></div>
                <div class="account-last-tasks-item__body">
                  <div class="account-last-tasks-item__content">
                    <div class="account-last-tasks-item__pretitle text-small">
                      Поток Crypto education Factory от Crypto |  Sjft  | Tools
                    </div>
                    <h6 class="account-last-tasks-item__title text">DEX  обзор universety tools</h6>
                    <div class="account-last-tasks-item__subtitle text-small">
                      Закрытый
                    </div>
                  </div>
        
                  <div class="account-last-tasks-item__details">
                    <div class="account-last-tasks-item__amount">+5</div>
                    <div class="account-last-tasks-item__link">
                      <span class="icon-play-triangle-right"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        
            <div class="account-last-tasks__more">
              <span class="text-small">Показати ще</span>
              <span class="icon-arrow-right-small account-last-tasks__more-icon"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
