---
import Button from 'src/components/basic/Button.astro'
import Layout from 'src/layouts/Layout.astro'

---
<Layout title="Крипто школа" description="Крипто школа">
  <div class="container">

    <div class="account-menu">
      <div class="account-info">
        <div class="account-info-avatar">
          <div class="account-info-avatar__circle">
            <span class="icon-profile"></span>
          </div>
        </div>
        <div class="account-info__content">
          <div class="account-info-lessons">
            <div class="account-info-lessons-icon">
              <span class="icon-videos"></span>
            </div>
            <div class="account-info-lessons__amount text-small">12 уроків</div>
          </div>
          <div class="account-info__name text">Володимір</div>
        </div>
      </div>

      <div class="account-menu-item account-menu-item_active">
        <div class="account-menu-item__icon">
          <span class="icon-dashboard"></span>
        </div>

        <div class="account-menu-item__name text">Dashboard</div>
      </div>

      <div class="account-menu-item">
        <div class="account-menu-item__icon">
          <span class="icon-video-play"></span>
        </div>

        <div class="account-menu-item__name text">Навчання</div>
      </div>

      <div class="account-menu-item">
        <div class="account-menu-item__icon">
          <span class="icon-rate"></span>
        </div>

        <div class="account-menu-item__name text">Мій тариф</div>
      </div>

      <div class="account-menu-item">
        <div class="account-menu-item__icon">
          <span class="icon-referral"></span>
        </div>

        <div class="account-menu-item__name text">Реферальна програма</div>
      </div>

      <div class="account-menu-item">
        <div class="account-menu-item__icon">
          <span class="icon-settings"></span>
        </div>

        <div class="account-menu-item__name text">Налаштування</div>
      </div>

      <div class="account-menu-item">
        <div class="account-menu-item__icon">
          <span class="icon-exit"></span>
        </div>

        <div class="account-menu-item__name text">Вийти</div>
      </div>
    </div>

    <div class="account-greeting">
      <div class="account-greeting__left">
        <div class="account-greeting__date text">Четвер, 05 Грудня</div>
        <h5 class="account-greeting__name h5">Привіт, Володимір</h5>
      </div>

      <div class="account-greeting-payment">
        <div class="account-greeting-payment__title text-small">
          Передплата діє до 8 січня 2025 р.
        </div>
        
        <Button small white>
          <span class="button__text">Продлити</span>
        </Button>
      </div>
    </div>

    <div class="account-statistics">
      <div class="account-statistics-item">
        <div class="account-statistics-item__icon">
          <img src="./assets/img/dashboard/statistics-star.svg" alt="">
        </div>
        <h5 class="account-statistics-item__value h5">341</h5>
        <div class="account-statistics-item__description text-small">Отримано поінтів</div>
      </div>

      <div class="account-statistics-item">
        <div class="account-statistics-item__icon">
          <img src="./assets/img/dashboard/statistics-calendar.svg" alt="">
        </div>
        <h5 class="account-statistics-item__value h5">304</h5>
        <div class="account-statistics-item__description text-small">Днів на проєкті</div>
      </div>

      <div class="account-statistics-item">
        <div class="account-statistics-item__icon">
          <img src="./assets/img/dashboard/statistics-profit.svg" alt="">
        </div>
        <h5 class="account-statistics-item__value h5">6</h5>
        <div class="account-statistics-item__description text-small">Місце в рейтингу</div>
      </div>
    </div>
  </div>
</Layout>
