---
import Layout from 'src/layouts/Layout.astro'

---
<Layout title="Крипто школа" description="Крипто школа">
  <div class="container">

    <div class="account-menu">
      <div class="account-info">
        <div class="account-info-avatar">
          <div class="account-info-avatar__circle">
            <span class="icon-profile"></span>
          </div>
        </div>
        <div class="account-info__content">
          <div class="account-info-lessons">
            <div class="account-info-lessons-icon">
              <span class="icon-videos"></span>
            </div>
            <div class="account-info-lessons__amount text-small">12 уроків</div>
          </div>
          <div class="account-info__name text">Володимір</div>
        </div>
      </div>

      <div class="account-menu-item account-menu-item_active">
        <div class="account-menu-item__icon">
          <span class="icon-dashboard"></span>
        </div>

        <div class="account-menu-item__name text">Dashboard</div>
      </div>

      <div class="account-menu-item">
        <div class="account-menu-item__icon">
          <span class="icon-video-play"></span>
        </div>

        <div class="account-menu-item__name text">Навчання</div>
      </div>

      <div class="account-menu-item">
        <div class="account-menu-item__icon">
          <span class="icon-rate"></span>
        </div>

        <div class="account-menu-item__name text">Мій тариф</div>
      </div>

      <div class="account-menu-item">
        <div class="account-menu-item__icon">
          <span class="icon-referral"></span>
        </div>

        <div class="account-menu-item__name text">Реферальна програма</div>
      </div>

      <div class="account-menu-item">
        <div class="account-menu-item__icon">
          <span class="icon-settings"></span>
        </div>

        <div class="account-menu-item__name text">Налаштування</div>
      </div>

      <div class="account-menu-item">
        <div class="account-menu-item__icon">
          <span class="icon-exit"></span>
        </div>

        <div class="account-menu-item__name text">Вийти</div>
      </div>
    </div>

    <div class="account-info-avatar">
      <div class="account-info-avatar__circle">
        <span class="icon-profile"></span>
      </div>
    </div>
  </div>
</Layout>
