---
import Button from 'src/components/basic/Button.astro'
import Layout from 'src/layouts/Layout.astro'

---
<Layout title="Крипто школа" description="Крипто школа">
  <div class="container container_wide feedbacks__container">
    <div class="breadcrumbs feedbacks__breadcrumbs">
      <a href="/" class="breadcrumbs__link">
        Головна
      </a>
      <div class="breadcrumbs__arrow">
        <span class="icon-nav-arrow-right"></span>
      </div>
      <a href="#" class="breadcrumbs__link breadcrumbs__link_active">
        Відгуки
      </a>
    </div>

    <h4 class="h4 color-primary feedbacks__title">Відгуки наших студентів</h4>

    <div class="feedbacks__block">
      <div class="feedbacks__list">
        <div class="palette palette_blurred feedback-palette">
          <div class="feedback-palette__header">
            <div class="feedback-palette__avatar">
              <img src="./assets/img/temp/feedback-palette-avatar.png" alt="">
            </div>

            <div class="feedback-palette__author text">Oleksandr Mul</div>
          </div>

          <div class="feedback-palette__content text-small">
            Долго выбирала, куда пойти учиться, много разных менеджеров звонили 
            мне и предлагали пойти к ним на курс)) выбрала криптолоджи за 
            фундаментальный подход к знаниям и возможности обучиться не только 
            торговле на крипте. Обучение превысило мои ожидания. Ребята, 
            вы молодцы!
          </div>

          <div class="feedback-palette__footer">
            <div class="feedback-palette__date text-small">21.01.24</div>
          </div>
        </div>

        <div class="palette palette_blurred feedback-palette">
          <div class="feedback-palette__header">
            <div class="feedback-palette__avatar">
              <img src="./assets/img/temp/feedback-palette-avatar.png" alt="">
            </div>

            <div class="feedback-palette__author text">Oleksandr Mul</div>
          </div>

          <div class="feedback-palette__content text-small">
            Долго выбирала, куда пойти учиться, много разных менеджеров звонили 
            мне и предлагали пойти к ним на курс)) выбрала криптолоджи за 
            фундаментальный подход к знаниям и возможности обучиться не только 
            торговле на крипте. Обучение превысило мои ожидания. Ребята, 
            вы молодцы!
          </div>

          <div class="feedback-palette__footer">
            <div class="feedback-palette__date text-small">21.01.24</div>
          </div>
        </div>

        <div class="palette palette_blurred feedback-palette">
          <div class="feedback-palette__header">
            <div class="feedback-palette__avatar">
              <img src="./assets/img/temp/feedback-palette-avatar.png" alt="">
            </div>

            <div class="feedback-palette__author text">Oleksandr Mul</div>
          </div>

          <div class="feedback-palette__content text-small">
            Долго выбирала, куда пойти учиться, много разных менеджеров звонили 
            мне и предлагали пойти к ним на курс)) выбрала криптолоджи за 
            фундаментальный подход к знаниям и возможности обучиться не только 
            торговле на крипте. Обучение превысило мои ожидания. Ребята, 
            вы молодцы!
          </div>

          <div class="feedback-palette__footer">
            <div class="feedback-palette__date text-small">21.01.24</div>
          </div>
        </div>

        <div class="palette palette_blurred feedback-palette">
          <div class="feedback-palette__header">
            <div class="feedback-palette__avatar">
              <img src="./assets/img/temp/feedback-palette-avatar.png" alt="">
            </div>

            <div class="feedback-palette__author text">Oleksandr Mul</div>
          </div>

          <div class="feedback-palette__content text-small">
            Долго выбирала, куда пойти учиться, много разных менеджеров звонили 
            мне и предлагали пойти к ним на курс)) выбрала криптолоджи за 
            фундаментальный подход к знаниям и возможности обучиться не только 
            торговле на крипте. Обучение превысило мои ожидания. Ребята, 
            вы молодцы!
          </div>

          <div class="feedback-palette__footer">
            <div class="feedback-palette__date text-small">21.01.24</div>
          </div>
        </div>

        <div class="palette palette_blurred feedback-palette">
          <div class="feedback-palette__header">
            <div class="feedback-palette__avatar">
              <img src="./assets/img/temp/feedback-palette-avatar.png" alt="">
            </div>

            <div class="feedback-palette__author text">Oleksandr Mul</div>
          </div>

          <div class="feedback-palette__content text-small">
            Долго выбирала, куда пойти учиться, много разных менеджеров звонили 
            мне и предлагали пойти к ним на курс)) выбрала криптолоджи за 
            фундаментальный подход к знаниям и возможности обучиться не только 
            торговле на крипте. Обучение превысило мои ожидания. Ребята, 
            вы молодцы!
          </div>

          <div class="feedback-palette__footer">
            <div class="feedback-palette__date text-small">21.01.24</div>
          </div>
        </div>

        <div class="palette palette_blurred feedback-palette">
          <div class="feedback-palette__header">
            <div class="feedback-palette__avatar">
              <img src="./assets/img/temp/feedback-palette-avatar.png" alt="">
            </div>

            <div class="feedback-palette__author text">Oleksandr Mul</div>
          </div>

          <div class="feedback-palette__content text-small">
            Долго выбирала, куда пойти учиться, много разных менеджеров звонили 
            мне и предлагали пойти к ним на курс)) выбрала криптолоджи за 
            фундаментальный подход к знаниям и возможности обучиться не только 
            торговле на крипте. Обучение превысило мои ожидания. Ребята, 
            вы молодцы!
          </div>

          <div class="feedback-palette__footer">
            <div class="feedback-palette__date text-small">21.01.24</div>
          </div>
        </div>

        <div class="palette palette_blurred feedback-palette">
          <div class="feedback-palette__header">
            <div class="feedback-palette__avatar">
              <img src="./assets/img/temp/feedback-palette-avatar.png" alt="">
            </div>

            <div class="feedback-palette__author text">Oleksandr Mul</div>
          </div>

          <div class="feedback-palette__content text-small">
            Долго выбирала, куда пойти учиться, много разных менеджеров звонили 
            мне и предлагали пойти к ним на курс)) выбрала криптолоджи за 
            фундаментальный подход к знаниям и возможности обучиться не только 
            торговле на крипте. Обучение превысило мои ожидания. Ребята, 
            вы молодцы!
          </div>

          <div class="feedback-palette__footer">
            <div class="feedback-palette__date text-small">21.01.24</div>
          </div>
        </div>

        <div class="palette palette_blurred feedback-palette">
          <div class="feedback-palette__header">
            <div class="feedback-palette__avatar">
              <img src="./assets/img/temp/feedback-palette-avatar.png" alt="">
            </div>

            <div class="feedback-palette__author text">Oleksandr Mul</div>
          </div>

          <div class="feedback-palette__content text-small">
            Долго выбирала, куда пойти учиться, много разных менеджеров звонили 
            мне и предлагали пойти к ним на курс)) выбрала криптолоджи за 
            фундаментальный подход к знаниям и возможности обучиться не только 
            торговле на крипте. Обучение превысило мои ожидания. Ребята, 
            вы молодцы!
          </div>

          <div class="feedback-palette__footer">
            <div class="feedback-palette__date text-small">21.01.24</div>
          </div>
        </div>
      </div>
  
      <div class="feedbacks__expand">
        <Button filled rounded>
          <span class="button__text">Усі відгуки</span>
        </Button>
      </div>
    </div>

    <div class="feedbacks-results palette palette_blurred feedbacks__results">
      <div class="feedbacks-results__title text color-primary">
        <span class="icon-fire hide-mobile"></span>
        <span class="icon-thunder hide-desktop hide-tablet"></span>
        <div>Що таке онлайн-навчання в Crypto School</div>
      </div>

      <div class="feedbacks-results__content">
        <div class="feedbacks-results__item">
          <div class="feedbacks-results__item-title h4 color-primary">200+</div>
          <div class="feedbacks-results__item-description text-small">годин практики</div>
        </div>

        <div class="feedbacks-results__item">
          <div class="feedbacks-results__item-title h4 color-primary">90</div>
          <div class="feedbacks-results__item-description text-small">днів потужного навчання</div>
        </div>

        <div class="feedbacks-results__item">
          <div class="feedbacks-results__item-title h4 color-primary">10 000+</div>
          <div class="feedbacks-results__item-description text-small">задоволених студентів</div>
        </div>
      </div>
    </div>
  </div>
</Layout>
