---
import Checkbox from 'src/components/basic/Checkbox.astro'
import Layout from 'src/layouts/Layout.astro'

---
<Layout title="Крипто школа" description="Крипто школа">
  <div class="container container_wide auth__container">
    <div class="palette palette_blurred auth__block forgot-password-block">
      <div class="auth__header auth__header_margin-big">
        <a href="#" class="auth__nav">
          <span class="icon-nav-arrow-left auth__nav-arrow"></span>
          <div class="auth__nav-label text-small">Повернутися до входу</div>
        </a>

        <h4 class="h4 auth__title">Забули пароль?</h4>
        <div class="text-small auth__text">
          Не хвилюйтеся, це трапляється з усіма нами. Введіть свій email нижче, щоб відновити пароль
        </div>
      </div>

      <div class="auth__form">
        <div class="auth__fields auth__fields_margin-big">
          <div class="auth-field">
            <div class="auth-field__control">
              <label for="" class="auth-field__label">Email або Нікнейм</label>
              <input type="text" class="auth-field__input text-small">
            </div>
          </div>
        </div>

        <div class="auth__footer">
          <button class="auth__submit text">Надіслати</button>
        </div>

        <div class="auth__separator auth__separator_margin-big">
          <div class="auth__separator-line"></div>
          <span class="text-small">Або увійдіть за допомогою</span>
          <div class="auth__separator-line"></div>
        </div>

        <div class="auth__helpers">
          <a href="#" class="auth__helper">
            <img src="./assets/img/auth/facebook.svg" />
          </a>

          <a href="#" class="auth__helper">
            <img src="./assets/img/auth/google.svg" />
          </a>

          <a href="#" class="auth__helper">
            <img src="./assets/img/auth/apple.svg" />
          </a>
        </div>
      </div>
    </div>
  </div>
</Layout>
