---
import RatioWrap from 'src/components/basic/RatioWrap.astro';
import Layout from '../layouts/Layout.astro';
import HomeContent from 'src/components/HomeContent.astro'

---

<Layout title="Крипто школа" description="Крипто школа">
	<div class="container">
    <HomeContent />
  </div>
</Layout>