---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Crypto School" description="Index page" empty={true}>
	<div class="container container_wide">
		<div class="pages">
			<h3>Pages</h3>
			<ol>
				<li><a href="./home.html" class="link">Home</a></li>
				<li><a href="./dashboard.html" class="link">Dashboard</a></li>
				<li><a href="./rate.html" class="link">Rate</a></li>
				<li><a href="./referral.html" class="link">Referral</a></li>
				<li><a href="./study.html" class="link">Study</a></li>
				<li><a href="./custom.html" class="link">Custom</a></li>
				<li><a href="./courses.html" class="link">Courses</a></li>
				<li><a href="./lesson.html" class="link">Lesson</a></li>
				<li><a href="./team.html" class="link">Team</a></li>
				<li><a href="./blog.html" class="link">Blog</a></li>
				<li><a href="./article.html" class="link">Article</a></li>
				<li><a href="./feedbacks.html" class="link">Feedbacks</a></li>
				<li><a href="./rates.html" class="link">Rates</a></li>
				<li><a href="./community.html" class="link">Community</a></li>
				<li><a href="./categories.html" class="link">Categories</a></li>
				<li><a href="./crypto-article.html" class="link">Crypto Article</a></li>
				<li><a href="./crypto-charts.html" class="link">Crypto Charts</a></li>
				<li><a href="./sign-in.html" class="link">Sign in</a></li>
				<li><a href="./sign-up.html" class="link">Sign up</a></li>
				<li><a href="./forgot-password.html" class="link">Forgot password</a></li>
			</ol>
		</div>
	</div>
</Layout>
<style>
	.container {
		padding: 40px;
	}
	h3 {
		font-weight: 600;
		margin-bottom: 20px;
	}
</style>
