---
import AccountLayout from 'src/layouts/AccountLayout.astro'
import AccountGreeting from 'src/components/AccountGreeting.astro'
import AccountMenu from 'src/components/AccountMenu.astro'
import Layout from 'src/layouts/Layout.astro'

---
<Layout title="Крипто школа" description="Крипто школа">
  <div class="container">
    <AccountLayout>
      <AccountMenu slot="sidebar-top" />

      <AccountGreeting
        title='Реферальна програма' 
        slot="center-top" 
      />

      <Fragment slot="center-bottom">
        <div class="account-block account-block_compressed account-total-statistics">
          <h5 class="account-block__title text">Загальна статистика</h5>

          <hr class="account-block__horizontal-row" />

          <div class="account-total-statistics__content">
            <div class="account-total-statistics__item">
              <h5 class="h5 color-primary">434</h5>
              <div class="text-small account-total-statistics__description">Запрошено людей</div>
            </div>

            <div class="account-total-statistics__item">
              <h5 class="h5 color-primary">214</h5>
              <div class="text-small account-total-statistics__description">Придбали програму</div>
            </div>

            <div class="account-total-statistics__item">
              <h5 class="h5 color-primary">$1 400</h5>
              <div class="text-small account-total-statistics__description">Загальна сума виплат</div>
            </div>

            <div class="account-total-statistics__item">
              <h5 class="h5 color-primary">$650</h5>
              <div class="text-small account-total-statistics__description">Доступно для виведення</div>
            </div>
          </div>
        </div>

        <div class="account-block account-block_compressed">
          <h5 class="account-block__title text">Останні виплати</h5>
          
          <table class="account-table account-table_status account-last-payments-table">
            <thead class="account-table-head">
              <td class="account-table-head__column">Дата</td>
              <td class="account-table-head__column">Сумма виплати</td>
              <td class="account-table-head__column">Статус виплати</td>
              <td class="account-table-head__column">Коментар</td>
            </thead>

            <tbody class="account-table-body">
              <tr>
                <td class="status-line">
                  <div class="status-line-indicator status-line-indicator_orange"></div>

                  <div class="account-table-body__item">
                    <div class="text color-primary">24.05.2024 16:30</div>
                    <div class="text color-primary">$230</div>
                    <div class="text color-orange">Виконується</div>
                    <div class="text account-last-payments-table__comment"></div>
                  </div>
                </td>
              </tr>

              <tr>
                <td class="status-line">
                  <div class="status-line-indicator status-line-indicator_green"></div>

                  <div class="account-table-body__item">
                    <div class="text color-primary">24.05.2024 16:30</div>
                    <div class="text color-primary">$130</div>
                    <div class="text color-success">Успішно</div>
                    <div class="text account-last-payments-table__comment"></div>
                  </div>
                </td>
              </tr>

              <tr>
                <td class="status-line">
                  <div class="status-line-indicator status-line-indicator_red"></div>

                  <div class="account-table-body__item">
                    <div class="text color-primary">24.05.2024 16:30</div>
                    <div class="text color-primary">$230</div>
                    <div class="text color-danger">Помилка</div>
                    <div class="text account-last-payments-table__comment">Неправильні реквізити</div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </Fragment>
    </AccountLayout>
  </div>
</Layout>
