---
import Button from 'src/components/basic/Button.astro'
import Layout from 'src/layouts/Layout.astro'
---

<Layout title='Крипто школа' description='Крипто школа'>
	<div class='container'>
		<div class='account-layout'>
			<div class='account-layout-column account-layout-sidebar'>
				<div class='account-layout-column-slice account-layout-sidebar__top'>
					<div class='account-menu'>
						<div class='account-menu-info'>
							<div class='account-menu-info-avatar'>
								<div class='account-menu-info-avatar__circle'>
									<span class='icon-profile'></span>
								</div>
							</div>
							<div class='account-menu-info__content'>
								<div class='account-menu-info-lessons'>
									<div class='account-menu-info-lessons-icon'>
										<span class='icon-videos'></span>
									</div>
									<div class='account-menu-info-lessons__amount text-small'>
										12 уроків
									</div>
								</div>
								<div class='account-menu-info__name text'>Володимір</div>
							</div>
						</div>

						<a href='#' class='account-menu-item account-menu-item_active'>
							<div class='account-menu-item__icon'>
								<span class='icon-dashboard'></span>
							</div>

							<div class='account-menu-item__name text'>Dashboard</div>
						</a>

						<a href='#' class='account-menu-item'>
							<div class='account-menu-item__icon'>
								<span class='icon-video-play'></span>
							</div>

							<div class='account-menu-item__name text'>Навчання</div>
						</a>

						<a href='#' class='account-menu-item'>
							<div class='account-menu-item__icon'>
								<span class='icon-rate'></span>
							</div>

							<div class='account-menu-item__name text'>Мій тариф</div>
						</a>

						<a href='#' class='account-menu-item'>
							<div class='account-menu-item__icon'>
								<span class='icon-referral'></span>
							</div>

							<div class='account-menu-item__name text'>
								Реферальна програма
							</div>
						</a>

						<a href='#' class='account-menu-item'>
							<div class='account-menu-item__icon'>
								<span class='icon-settings'></span>
							</div>

							<div class='account-menu-item__name text'>Налаштування</div>
						</a>

						<a href='#' class='account-menu-item'>
							<div class='account-menu-item__icon'>
								<span class='icon-exit'></span>
							</div>

							<div class='account-menu-item__name text'>Вийти</div>
						</a>
					</div>
				</div>

				<div class='account-layout-column-slice account-layout-sidebar__bottom'>
				</div>
			</div>

			<div class='account-layout-column account-layout-center'>
				<div class='account-layout-column-slice account-layout-center__top'>
					<div class='account-greeting'>
						<div class='account-greeting__left'>
							<div class='account-greeting__date text'>Четвер, 05 Грудня</div>
							<h5 class='account-greeting__name h5'>Привіт, Володимир</h5>
						</div>

						<div class='account-greeting-payment'>
							<div class='account-greeting-payment__title text-small'>
								Передплата діє до 8 січня 2025 р.
							</div>

							<Button small white>
								<span class='button__text'>Продлити</span>
							</Button>
						</div>
					</div>
				</div>

				<div class='settings__wrapper'>
					<div class='settings__data'>
						<h6 class='settings__data-title settings-title'>Налаштування</h6>
						<hr class='settings__data-hr' />
						<div class='settings__photo settings__photo-mobile'>
							<div class='settings__photo-left'>
								<div class='settings__photo-subtitle'>Фото</div>
								<img
									class='settings__photo-img'
									src='/src/icon-fonts/svg/profile-photo.svg'
									alt=''
								/>
							</div>
							<div class='settings__photo-right'>
								<div
									class='settings__photo-box'
									onclick="document.getElementById('fileInput').click()"
								>
									<span class='icon-download'>⬇️</span>
									<p class='settings__photo-description'>
										Завантажити фотографію<br />для профілю
									</p>
									<input
										class='settings__photo-input'
										type='file'
										id='fileInput'
										accept='image/*'
										onchange='previewImage(event)'
									/>
									<img id='preview'/>
								</div>
								<div class="settings__photo-content">
                  <div class="settings__photo-texts">
                    <p class='settings__photo-text'>
                      Розмір обкладинки повинен бути не менший 200х200 px і не
                      більший ніж 5 Мб. Формат обкладинки JPG, PNG
                    </p>
                    <p class='settings__photo-text'>
                      Після завантаження натисніть “Зберегти”
                    </p>
                  </div>
                  <button class='settings__photo-btn settings-btn'>
                    Зберегти
                  </button>
                </div>
							</div>
						</div>
						<div class='settings__main'>
							<h6 class='settings__main-title settings-title'>Основні</h6>
							<div class="settings__main-label--wrapper">
                <label class='settings__main-label'>
                  <p class='settings__main-text'>Ник</p>
                  <input
                    class='settings__main-input type='
                    text'
                    placeholder='Ник'
                    value='Володимир'
                  />
                </label>
                <label class='settings__main-label' for=''>
                  <p class='settings__main-text'>E-mail</p>
                  <input
                    class='settings__main-input'
                    type='email'
                    placeholder='E-mail'
                    value='hello@gmail.com'
                  />
                </label>
                <label class='settings__main-label' for=''>
                  <p class='settings__main-text'>Телеграм</p>
                  <input
                    class='settings__main-input'
                    type='text'
                    placeholder='@username'
                  />
                </label>
                <label class='settings__main-label' for=''>
                  <p class='settings__main-text'>Дискорд</p>
                  <input
                    class='settings__main-input'
                    type='text'
                    placeholder='@username'
                  />
                </label>
              </div>
							<label class='settings__main-label' for=''>
								<p class='settings__main-text'>Криптокошелек</p>
								<input
									class='settings__main-input'
									type='text'
									value='XKFDFJ4325LDFEXKFDFJ4325LDFE'
									readonly
								/>
							</label>
							<button class='settings__main-btn settings-btn'>
								Зберегти
							</button>
						</div>
						<div class='settings__safety'>
							<h6 class='settings__safety-title settings-title'>Безпека</h6>
							<input
								class='settings__safety-input'
								type='password'
								placeholder='Старий пароль'
							/>
							<input
								class='settings__safety-input'
								type='password'
								placeholder='Новий пароль'
							/>
							<input
								class='settings__safety-input'
								type='password'
								placeholder='Повторіть новий пароль'
							/>
							<button class='settings__safety-btn settings-btn'>
								Зберегти
							</button>
						</div>
					</div>
					<div class='settings__photo settings__photo-desktop'>
						<div class='settings__photo-left'>
							<div class='settings__photo-subtitle'>Фото</div>
							<img
								class='settings__photo-img'
								src='/src/icon-fonts/svg/profile-photo.svg'
								alt=''
							/>
						</div>
						<div class='settings__photo-right'>
							<div
								class='settings__photo-box'
								onclick="document.getElementById('fileInput').click()"
							>
								<span class='icon-download'>⬇️</span>
								<p class='settings__photo-description'>
									Завантажити фотографію<br />для профілю
								</p>
								<input
									class='settings__photo-input'
									type='file'
									id='fileInput'
									accept='image/*'
									onchange='previewImage(event)'
								/>
								<img id='preview' />
							</div>
							<p class='settings__photo-text'>
								Розмір обкладинки повинен бути не менший 200х200 px і не більший
								ніж 5 Мб. Формат обкладинки JPG, PNG
							</p>
							<p class='settings__photo-text'>
								Після завантаження натисніть “Зберегти”
							</p>
							<button class='settings__photo-btn settings-btn'>
								Зберегти
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</Layout>
