---
import Checkbox from 'src/components/basic/Checkbox.astro'
import Layout from 'src/layouts/Layout.astro'

---
<Layout title="Крипто школа" description="Крипто школа">
  <div class="container container_wide auth__container">
    <div class="palette palette_blurred auth__block">
      <div class="auth__header">
        <h4 class="h4 auth__title">Вхід до кабінету</h4>
        <div class="text-small auth__text">
          Увійдіть, щоб отримати доступ до свого облікового запису
        </div>
      </div>

      <div class="auth__form">
        <div class="auth__fields">
          <div class="auth-field">
            <div class="auth-field__control">
              <label for="" class="auth-field__label">Email або Нікнейм</label>
              <input type="text" class="auth-field__input text-small">
            </div>
          </div>

          <div class="auth-field" data-auth-field-protected>
            <div class="auth-field__control">
              <label for="" class="auth-field__label">Пароль</label>
              <input type="password" class="auth-field__input text-small">
              <div class="auth-field__icon" data-auth-field-protected-icon>
                <span class="icon-eye-off"></span>
              </div>
            </div>
          </div>
        </div>

        <div class="auth__additional auth__additional_margin-big">
          <div class="auth__remember">
            <Checkbox id="remember" name="remember" />
            <label for="remember text-small">Запам'ятай мене</label>
          </div>

          <a href="#" class="auth__forgot-password text-small auth_highlight">Забули пароль</a>
        </div>

        <div class="auth__footer">
          <button class="auth__submit text">Увійти</button>
  
          <a href="#" class="auth__other-way text-small">
            Не маєте облікового запису? <span class="auth_highlight">Зареєструватися</span>
          </a>
        </div>

        <div class="auth__separator">
          <div class="auth__separator-line"></div>
          <span class="text-small">Або увійдіть за допомогою</span>
          <div class="auth__separator-line"></div>
        </div>

        <div class="auth__helpers">
          <a href="#" class="auth__helper">
            <img src="./assets/img/auth/facebook.svg" />
          </a>

          <a href="#" class="auth__helper">
            <img src="./assets/img/auth/google.svg" />
          </a>

          <a href="#" class="auth__helper">
            <img src="./assets/img/auth/apple.svg" />
          </a>
        </div>
      </div>
    </div>
  </div>
</Layout>
