---
import Layout from 'src/layouts/Layout.astro'

---
<Layout title="Крипто школа" description="Крипто школа">
  <div class="container team__container">
    <div class="breadcrumbs team__breadcrumbs">
      <a href="/" class="breadcrumbs__link">
        Головна
      </a>
      <div class="breadcrumb__arrow">
        <span class="icon-nav-arrow-right"></span>
      </div>
      <a href="#" class="breadcrumbs__link breadcrumbs__link_active">
        Команда
      </a>
    </div>

    <div class="account-block palette team-member team-member_expanded team__expanded-member">
      <div class="team-member__image">
        <img src="./assets/img/temp/team-member.png" alt="">
      </div>

      <div class="team-member__body">
        <div class="team-member__headline">
          <h5 class="team-member__title text">Имя Фамилия</h5>
          <h6 class="team-member__subtitle text-small">Должность</h6>
        </div>

        <hr class="team-member__separator">

        <div class="team-member__contacts">
          <a href="" class="team-member__contact">
            <span class="icon-telegram"></span>
          </a>
          <a href="" class="team-member__contact">
            <span class="icon-instagram"></span>
          </a>
          <a href="" class="team-member__contact">
            <span class="icon-youtube-filled"></span>
          </a>
          <a href="" class="team-member__contact">
            <span class="icon-twitter"></span>
          </a>
        </div>

        <hr class="team-member__separator">

        <a href="" class="team-member__mail text-small">hello@cryptoschool.com</a>
      </div>
    </div>

    <h4 class="h4 color-primary team__title">Наша команда</h4>

    <div class="team__cards">
      <div class="account-block palette team-member">
        <div class="team-member__image">
          <img src="./assets/img/temp/team-member.png" alt="">
        </div>
  
        <div class="team-member__body">
          <div class="team-member__headline">
            <h5 class="team-member__title text">Имя Фамилия</h5>
            <h6 class="team-member__subtitle text-small">Должность</h6>
          </div>
  
          <hr class="team-member__separator">
  
          <div class="team-member__contacts">
            <a href="" class="team-member__contact">
              <span class="icon-telegram"></span>
            </a>
            <a href="" class="team-member__contact">
              <span class="icon-instagram"></span>
            </a>
            <a href="" class="team-member__contact">
              <span class="icon-youtube-filled"></span>
            </a>
            <a href="" class="team-member__contact">
              <span class="icon-twitter"></span>
            </a>
          </div>
  
          <hr class="team-member__separator">
  
          <a href="" class="team-member__mail text-small">hello@cryptoschool.com</a>
        </div>
      </div>

      <div class="account-block palette team-member">
        <div class="team-member__image">
          <img src="./assets/img/temp/team-member.png" alt="">
        </div>
  
        <div class="team-member__body">
          <div class="team-member__headline">
            <h5 class="team-member__title text">Имя Фамилия</h5>
            <h6 class="team-member__subtitle text-small">Должность</h6>
          </div>
  
          <hr class="team-member__separator">
  
          <div class="team-member__contacts">
            <a href="" class="team-member__contact">
              <span class="icon-telegram"></span>
            </a>
            <a href="" class="team-member__contact">
              <span class="icon-instagram"></span>
            </a>
            <a href="" class="team-member__contact">
              <span class="icon-youtube-filled"></span>
            </a>
            <a href="" class="team-member__contact">
              <span class="icon-twitter"></span>
            </a>
          </div>
  
          <hr class="team-member__separator">
  
          <a href="" class="team-member__mail text-small">hello@cryptoschool.com</a>
        </div>
      </div>

      <div class="account-block palette team-member">
        <div class="team-member__image">
          <img src="./assets/img/temp/team-member.png" alt="">
        </div>
  
        <div class="team-member__body">
          <div class="team-member__headline">
            <h5 class="team-member__title text">Имя Фамилия</h5>
            <h6 class="team-member__subtitle text-small">Должность</h6>
          </div>
  
          <hr class="team-member__separator">
  
          <div class="team-member__contacts">
            <a href="" class="team-member__contact">
              <span class="icon-telegram"></span>
            </a>
            <a href="" class="team-member__contact">
              <span class="icon-instagram"></span>
            </a>
            <a href="" class="team-member__contact">
              <span class="icon-youtube-filled"></span>
            </a>
            <a href="" class="team-member__contact">
              <span class="icon-twitter"></span>
            </a>
          </div>
  
          <hr class="team-member__separator">
  
          <a href="" class="team-member__mail text-small">hello@cryptoschool.com</a>
        </div>
      </div>

      <div class="account-block palette team-member">
        <div class="team-member__image">
          <img src="./assets/img/temp/team-member.png" alt="">
        </div>
  
        <div class="team-member__body">
          <div class="team-member__headline">
            <h5 class="team-member__title text">Имя Фамилия</h5>
            <h6 class="team-member__subtitle text-small">Должность</h6>
          </div>
  
          <hr class="team-member__separator">
  
          <div class="team-member__contacts">
            <a href="" class="team-member__contact">
              <span class="icon-telegram"></span>
            </a>
            <a href="" class="team-member__contact">
              <span class="icon-instagram"></span>
            </a>
            <a href="" class="team-member__contact">
              <span class="icon-youtube-filled"></span>
            </a>
            <a href="" class="team-member__contact">
              <span class="icon-twitter"></span>
            </a>
          </div>
  
          <hr class="team-member__separator">
  
          <a href="" class="team-member__mail text-small">hello@cryptoschool.com</a>
        </div>
      </div>
    </div>
  </div>
</Layout>
