---
import Layout from 'src/layouts/Layout.astro'

---
<Layout title="Крипто школа" description="Крипто школа">
  <div class="container team__container">
    <div class="breadcrumbs team__breadcrumbs">
      <a href="/" class="breadcrumbs__link">
        Головна
      </a>
      <div class="breadcrumb__arrow">
        <span class="icon-nav-arrow-right"></span>
      </div>
      <a href="#" class="breadcrumbs__link breadcrumbs__link_active">
        Команда
      </a>
    </div>
  </div>
</Layout>
