---
import Button from './basic/Button.astro'

interface Props {
  title: string
}

const { title } = Astro.props

---
<div class="account-greeting">
  <div class="account-greeting__left">
    <div class="account-greeting__date text">Четвер, 05 Грудня</div>
    <h5 class="account-greeting__name h5 color-primary">{title}</h5>
  </div>

  <div class="account-greeting-payment palette palette_blurred">
    <div class="account-greeting-payment__title text-small color-primary">
      Передплата діє до 8 січня 2025 р.
    </div>
    
    <button class="account-greeting-payment__button">
      <span class="text-small">Продлити</span>
    </button>
  </div>
</div>