---
import Button from './basic/Button.astro'

---
<div class="account-greeting">
  <div class="account-greeting__left">
    <div class="account-greeting__date text">Четвер, 05 Грудня</div>
    <h5 class="account-greeting__name h5 color-primary">Привіт, Володимір</h5>
  </div>

  <div class="account-greeting-payment">
    <div class="account-greeting-payment__title text-small color-primary">
      Передплата діє до 8 січня 2025 р.
    </div>
    
    <Button small white>
      <span class="button__text">Продлити</span>
    </Button>
  </div>
</div>