---
import HomeHeroContent from './HomeHeroContent.astro'

const imageSrc = './assets/img/home-page-illustration-light.png'

---
<div class="home-hero">
  <div class="container">
    <HomeHeroContent />

    <div class="home-hero-image">
      <img src={imageSrc} alt="user">  
    </div>
  </div>
</div>