---
import Button from './basic/Button.astro'
import ButtonText from './basic/ButtonText.astro'

---
<div class="home-content">
  <h2 class="h2">ВАШ ГІД У СВІТ</h2>
  <h1 class="h1">КРИПТОВАЛЮТ</h1>

  <p class="text">
    Наші продукти та сервіси допоможуть на кожному етапі криптана, 
    щоб ваш шлях був простим та максимально ефективним
  </p>

  <div class="home-content__buttons">
    <Button filled big>
      <ButtonText uppercase>
        Купити курс
      </ButtonText>
    </Button>

    <Button outlined big>
      <ButtonText uppercase black>
        У мене точно вийде?
      </ButtonText>
    </Button>
  </div>
</div>