---
import Button from './basic/Button.astro'

---
<div class="home-content">
  <h2 class="h2 home-content__pretitle">ВАШ ГІД У СВІТ</h2>
  <h1 class="h1 home-content__title">КРИПТОВАЛЮТ</h1>

  <p class="text home-content__description">
    Наші продукти та сервіси допоможуть на кожному етапі криптана, 
    щоб ваш шлях був простим та максимально ефективним
  </p>

  <div class="home-content__buttons">
    <Button filled big>
      <span class="button__text button__text_uppercase">
        Купити курс
      </span>
    </Button>

    <Button outlined big>
      <span class="button__text button__text_uppercase">
        У мене точно вийде?
      </span>
    </Button>
  </div>
</div>